[2022-01-31 16:26] riiyaaa opened #7 "Creating Registration form"
I would like to create a registration form using HTML and CSS. It will contain the following:

1. User name
2. User contact information
3. User address
4. Submit button

[2022-01-31 16:30] IAmTamal commented on #7
You are not supposed to make issues now.

[2022-01-31 16:30] #7 closed

[2022-01-31 18:35] riiyaaa opened #8 "Creating Registration Form"
I would like to add a registration form, which will be displayed when the user clicks on the "Register" button.

[2022-01-31 18:35] ShrutiKapure commented on #8
I want to work on this issue under **JWOC**.

[2022-01-31 18:38] RustamTomer commented on #8
I want to work on this issue

[2022-01-31 18:44] IAmTamal opened #9 "Make a Navbar !!"
### I want a Navbar , preferably bootstrap navbar.

**I want items such as : Home , Events, Clubs , User icon on the navbar.
Make sure to check it's responsiveness., font styles.**

[2022-01-31 18:45] Mainakroy050 commented on #9
I want to work on this issue under JWOC

[2022-01-31 18:45] maneet057 commented on #9
Please assign this one to me. I will make the navbar

[2022-01-31 18:45] harshit4021 commented on #9
"I want to work on this issue under JWOC"

[2022-01-31 18:49] IAmTamal opened #10 "Contact Page"
## I need a proper **CONTACT US** page.

I would like to have **input fields** for :
- **First Name**
- **Last Name**
- **Phone Number**
- **Email ID**
- **Message**

Make sure to add a cool vector art to the left side and the contact us form on the right side.
The page must be **responsive** in **MOBILE , TAB , LAPTOP , DESKTOP**.

Use proper **Font Size** and **design**.

Include proper Screensh

[2022-01-31 18:50] aditi-gosain commented on #9
I want to work on this issue under JWOC.

[2022-01-31 18:50] IAmTamal commented on #9
Assigned to @Mainakroy050

[2022-01-31 18:50] harshit4021 commented on #10
"I want to work on this issue under JWOC"

[2022-01-31 18:51] aditi-gosain commented on #10
I want to work on this issue under JWOC.

[2022-01-31 18:53] IAmTamal opened #11 "Login Page"
## I want to have a Login Page for the user.

I would like a nice login form with some vector art image to the left.
The form needs to have :
- email ID
- Password

Make sure the page is responsive in **MOBILE , TAB . DESKTOP , LAPTOP**
Add screenshots for the same.

[2022-01-31 18:53] maneet057 commented on #11
Please assign this one to me. I would like to work on it

[2022-01-31 18:53] IAmTamal commented on #10
Assigned to @harshit4021

[2022-01-31 18:54] aditi-gosain commented on #11
I want to work on this issue under JWOC.

[2022-01-31 18:56] IAmTamal commented on #8
assigning to @riiyaaa
Go ahead.
Make sure the page is **responsive**.
The Register page must have proper details. The **UI** should be nice.

[2022-01-31 19:02] IAmTamal commented on #11
Assigning this to you. @maneet057

[2022-01-31 19:06] IAmTamal opened #12 "Home page cards fonts"
### The cards in home page looks weird.
Why not fix it ?

- I want titles like ( "What we do") to be a bit bolder.
- I want sub titles like (" We conjugate ") to have a greater font size

[2022-01-31 19:11] IAmTamal opened #13 "Clubs and Events Page"
I need the clubs ,events page to be completed.

The data will be present in `clubs.txt` ,and `events.txt`  i need you to add them as cards in the page.
Make sure the page looks good.

[2022-01-31 19:12] whiteHatpro commented on #12
I want to work on this issue under JWOC

[2022-01-31 19:13] IAmTamal commented on #12
Assigned to you  @whiteHatpro

[2022-01-31 19:22] IAmTamal opened #14 "The Banner text"
![image](https://user-images.githubusercontent.com/72851613/151858296-4cf6f121-3c55-40f4-a1a2-1ec1bde0ac25.png)

I need some UI changes here.
- The text needs to `UpperCase`
- The keywords like **Help , Need** needs to be in a much more bolder format
- The font size needs to a bit bigger.
- The font styling needs to be improved  , use google fonts (as you wish)

[2022-01-31 19:26] simran2002 commented on #13
Hi @IAmTamal Please assign this issue to me.

[2022-01-31 19:27] IAmTamal commented on #13
Assigned this to you. @simran2002

[2022-01-31 19:34] IAmTamal opened #15 "Footer"
### I need a brand new footer.

I want you to implement your **amazing UI skills** and make a brand new responsive **footer** !!
The footer must be of dark color (not too dark)
Add the footer **ONLY** to the homepage

[2022-01-31 19:36] KushalGhosh9899 commented on #15
I want to work on this issue under JWOC

[2022-01-31 19:41] IAmTamal commented on #15
Assigned to you @KushalGhosh9899

[2022-01-31 19:45] whiteHatpro commented on #12
![screenshot-127 0 0 1_5500-2022 02 01-01_12_23](https://user-images.githubusercontent.com/77486870/151861575-fe8674a9-9430-46df-abae-094fbe41ac04.png)
@IAmTamal i have made the desired changes and attached the respective screenshot
should i create the pull request?

[2022-01-31 19:48] IAmTamal commented on #12
This looks awesome , can i get the heading text (what we do . ..) to be a bit bigger , so that it stands out.
And also change it's color to blue , preferebly  : #339a9c

[2022-01-31 19:48] Rohan-Hazari commented on #14
I want to work on this issue under JWOC

[2022-01-31 19:49] whiteHatpro commented on #12
sure!!

[2022-01-31 19:49] IAmTamal commented on #14
assigned to you @Rohan-Hazari

[2022-01-31 19:54] whiteHatpro commented on #12
@IAmTamal i have done the changes as u asked
should i create pull request?

[2022-01-31 19:55] IAmTamal commented on #12
Go ahead.

[2022-01-31 20:20] IAmTamal commented on #12
Thanks @whiteHatpro for taking up on this issue.
See you soon !!

[2022-01-31 20:20] #12 closed

[2022-02-01 05:22] pranavsuriya-sr opened #17 "Preloader"
Before the main webpage is visible, showing a preloader will add a cool look while opening the webpage or while refreshing the webpage.

[2022-02-01 05:23] pranavsuriya-sr commented on #17
I want to work on this issue under JWOC

[2022-02-01 05:35] IAmTamal commented on #17
Good  , but can you wait for a day. I'll assign you this after a day.
I need some basics done first. Meanwhile work on another issues.

[2022-02-01 07:48] #17 closed

[2022-02-01 07:57] whiteHatpro commented on #11
I want to work on this issue under JWOC.

[2022-02-01 07:58] whiteHatpro commented on #9
I want to work on this issue under JWOC.

[2022-02-01 07:58] whiteHatpro commented on #14
I want to work on this issue under JWOC

[2022-02-01 09:16] riiyaaa commented on #7
Okay! Thankyou so much for assigning it to me. I will make sure not to
dissapoint you!

On Mon, 31 Jan 2022, 10:01 pm Tamal Das, ***@***.***> wrote:

--

*CONFIDENTIALITY NOTICE*

       This
communication (including any
attachment/s) is intended only for the use of the
addressee(s) and contains
information that is PRIVILEGED AND CONFIDENTIAL.
Unauthorized reading,
dissemination, distribution, or

[2022-02-01 09:43] privateyash commented on #15
I want to work on this issue under JWOC

[2022-02-01 09:43] privateyash commented on #10
I want to work on this issue under JWOC

[2022-02-01 12:37] IAmTamal commented on #11
@maneet057 great work on the issue, see you soon.
Cheers.

[2022-02-01 12:37] #11 closed

[2022-02-01 12:39] maneet057 commented on #11
Thank you :)

[2022-02-01 15:09] #14 closed

[2022-02-01 15:10] riiyaaa commented on #8
I have added the following:
1) Username
2) Email address
3) Password
4) Confirm Password
5) Gender selector
Should I add phone number and DOB too?

[2022-02-01 15:12] IAmTamal commented on #8
Add First Name , Last Name
And just having the phone number should be fine !!

[2022-02-01 15:16] riiyaaa commented on #8
I am on it!

[2022-02-01 15:34] IAmTamal opened #21 "An About page"
## Can you create an about page for us ?

**This time i am going to leave the **Page Design** upto you.**

I want  to  have an about us section  , which says  :

          Milan is like a dream to us. As the name suggests, ‘Milan’ is the colloquial term for the word ‘conjugation’.
          Here at Milan we aim at bringing all the NGOs together across the world at a platform which will help the

[2022-02-01 15:36] #13 closed

[2022-02-01 17:17] IAmTamal commented on #21
Assigned to @mridul4101

[2022-02-01 17:46] #8 closed

[2022-02-01 18:45] #9 closed

[2022-02-01 20:16] whiteHatpro opened #26 "UI change:clubs page"
there are some modifications I need to make in the UI of the club's page like
1) navbar of the page.
2)filter section of the page.

[2022-02-01 20:16] whiteHatpro commented on #26
i want to work in this issue under JWOC

[2022-02-02 04:45] #21 closed

[2022-02-02 05:17] IAmTamal opened #29 "User Login Component"
## I want to have a react login component for the user.
## Read [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md) for proper **folder structure**

 ### For proper design : refer to this -> https://github.com/IAmTamal/Milan/pull/18
  Store the code here :
![image](https://user-images.githubusercontent.com/72851613/152096560-de5015fb-4072-44dd-9166-1aefd6fe697f.png)

Imp

[2022-02-02 05:21] IAmTamal opened #30 "User Register component"
# I want to have a react **User Registration** component for the user.
## Read [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md) for proper **folder structure**

 ### For proper design : refer to this -> https://github.com/IAmTamal/Milan/pull/18
As you can see the desgin above is for Login page , but i would like to have the same design for **register page**.
- First n

[2022-02-02 05:24] #26 closed

[2022-02-02 05:31] soumali28 commented on #29
I want to work on this issue under JWOC

[2022-02-02 05:33] vivekpatel17 commented on #29
I want to work under JWOC

[2022-02-02 05:34] IAmTamal commented on #29
Assigning to @soumali28  ,
Make sure you do follow the **Folder structure** , go through the **Setup guidelines**
Check responsiveness , styles.
In case of any issue tag me in `#milan` channel.

[2022-02-02 05:35] IAmTamal commented on #29
check out the other issues !!

[2022-02-02 05:43] IAmTamal opened #31 "Clubs Register Component"
### I want to have a page where the **CLUBS** can register themselves.
### Refer to this design : https://github.com/IAmTamal/Milan/pull/18
### Read [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md) for proper **folder structure**

---

## Design changes
- You need to use a different image than the one that is used for the **TEMPORARY** Login page.
-  You need to have

[2022-02-02 05:46] mridul4101 commented on #30
I would like to contribute to this. So if it is available will you please assign it?

[2022-02-02 05:47] IAmTamal commented on #30
Assiging to you ,
Make sure you read the **Setup guidelines , maintain proper folder structure.**
Make sure the page is responsive enough.
For any issues please tag me in **#milan** channel

[2022-02-02 05:49] IAmTamal opened #32 "Clubs Login Component"
### I want to have a page where the **CLUBS** can login themselves.
### Refer to this design : https://github.com/IAmTamal/Milan/pull/18
### Read [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md) for proper **folder structure**

---

## Design changes
- You need to use a different image than the one that is used for the **TEMPORARY** Login page.
-  You need to have **C

[2022-02-02 07:25] IAmTamal opened #33 "Clubs Page component"
### I want to have a page where all the **CLUBS** are shown
 ###  Read [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md) for proper **folder structure** ⚠

---

## FIles and Folder
- Inside of the `src>components` folder make a new file : `SingleClub.jsx`
![image](https://user-images.githubusercontent.com/72851613/152109317-3498eaab-e6de-41bb-9e81-c8721bf63c94.png)

-

[2022-02-02 07:26] #15 closed

[2022-02-02 07:27] #10 closed

[2022-02-02 07:31] KushalGhosh9899 commented on #32
I want to work on this issue under JWOC

[2022-02-02 07:42] IAmTamal commented on #32
Assigning this to @KushalGhosh9899  , make sure you follow the **GUIDELINES** for proper **FOLDER STRUCTURE**
If you have any queries ask in #milan channel. Tag me.

[2022-02-02 09:23] dakshgupta2002 commented on #33
Interested to work on this under JWoC!

[2022-02-02 09:26] Priiyaa commented on #31
I would like to work on this issue!

[2022-02-02 12:27] IAmTamal commented on #31
Are you a participant of JWOC ?

[2022-02-02 12:27] Priiyaa commented on #31
yes

[2022-02-02 12:28] IAmTamal commented on #31
Okay assigning this to you, @Priiyaa

[2022-02-02 14:26] IAmTamal commented on #33
Assigning this to you , make sure you take a proper look at the guidelines and communicate with me on the Dc server for any issues.

[2022-02-02 16:29] Anosh21 opened #36 "fix issue on about section"
![Screenshot (3)](https://user-images.githubusercontent.com/90505226/152195215-9961fb19-438d-4c43-b48d-b8beabde51a2.png)

-This issue was created under JWOC

[2022-02-02 16:39] IAmTamal commented on #36
This Issue is not relevant rn ,  because we have the code for About , we will work on it's react component Later.

[2022-02-02 16:39] #36 closed

[2022-02-02 17:04] #30 closed

[2022-02-02 17:35] #32 closed

[2022-02-03 07:47] #33 closed

[2022-02-03 09:49] #29 closed

[2022-02-04 08:19] IAmTamal opened #40 "Login Input verification"
## I want to have frontend authentication for Login page

![image](https://user-images.githubusercontent.com/72851613/152494569-6b6d5e12-9cdd-4cd9-8d50-f041d419470e.png)
<br/>
**I want to make sure that the user is NOT ABLE TO SUBMIT the Login form until and unless   :**
- The email and password fields have values
- Make sure the size of password is **GREATER** than 5 characters
- Make sure the **

[2022-02-04 08:27] IAmTamal opened #41 "Login Page UI Fix"
## I want some fixes in the User Login Page
## Make sure before contributing you have read the **Setup and Contributions Guidelines**

![image](https://user-images.githubusercontent.com/72851613/152496399-c291ef0e-be83-4e17-ac52-9ca431cd55a5.png)
**I want this home icon to be a bit bigger and on click , redirect us to the Home Page**

![image](https://user-images.githubusercontent.com/72851613/152

[2022-02-04 08:48] Amit91848 commented on #40
Can I work on this?

[2022-02-04 08:55] IAmTamal commented on #40
Are you in JWOC ?

[2022-02-04 09:01] Amit91848 commented on #40
Nope

[2022-02-04 09:03] IAmTamal opened #42 "Clubs Page Responsiveness"
## Make sure you have read the **CONTRIBUTIONS AND SETUP** guidelines before working on this issue.
---

## Fix 1:
![image](https://user-images.githubusercontent.com/72851613/152500568-88dc95ac-bd74-435b-8776-614a7ddb74fc.png)
![image](https://user-images.githubusercontent.com/72851613/152500872-1fa3e18b-210f-4d98-b79e-ca5260ceecda.png)

<br/>

For **TABLET and MOBILE** view i want to have the car

[2022-02-04 09:04] IAmTamal commented on #40
Well sorry then , this si only for `JWOC` participants.
Your comments will be deleted soon.

[2022-02-04 09:06] tanya-gupta25 commented on #41
I want to work on this issue under JWOC

[2022-02-04 09:07] IAmTamal commented on #41
Go ahead Tanya.
After done , tag me in DISCORD's `#milan` channel before making a Pull Request.
Assigning this to  you.

[2022-02-04 09:08] mridul4101 commented on #42
I would like to contribute to this under JWOC.

[2022-02-04 09:09] IAmTamal commented on #42
Go ahead.
After done , tag me in DISCORD's `#milan` channel before making a Pull Request.
Assigning this to  you.

[2022-02-04 09:09] mridul4101 commented on #40
I would to contribute to this under JWOC.

[2022-02-04 13:45] #42 closed

[2022-02-04 13:48] IAmTamal commented on #40
Assigned to you @mridul4101

[2022-02-04 14:02] IAmTamal opened #44 "React App Footer component"
## I would like to have a **REACT FOOTER COMPONENT** , before contributing read the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md) as well as the [Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)

<br/>

- The UI/UX part is left for you to do , it shows your skills as a frontend dev , so make sure it looks good.
- It must b

[2022-02-04 15:29] soumali28 commented on #44
I want to work on this issue under Jwoc

[2022-02-04 17:57] IAmTamal commented on #44
Assigned to you  ,
After done  , contact me in the `#milan` channel before PR

[2022-02-04 17:58] #31 closed

[2022-02-04 20:15] #40 closed

[2022-02-05 11:45] riiyaaa commented on #41
I would like to work on this issue under jwoc.

[2022-02-05 16:31] IAmTamal opened #47 "UI/UX - User Registration Component"
## I want to fix the **UI of User Registration Page's Component**

## Guidelines 🔐

- [ ] I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
- [ ] I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

### Notice ⛔
Please make sure in the `.css` files you are making/using , the styl

[2022-02-05 16:46] IAmTamal opened #48 "UI/UX - Scroll Bar glitch"
## I want to <text here>

- [x] I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
- [x] I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

### Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be applied to **Unique Class names**

If there a

[2022-02-05 17:53] mridul4101 commented on #47
I would like to opt for this under JWOC.

[2022-02-05 18:34] IAmTamal commented on #47
Go ahead , mark the checkboxes once you are assigned.
Also make it as accurate as possible.
Assigning to @mridul4101

[2022-02-06 05:56] IAmTamal opened #49 "React App Home Page"
## I want to make the **HOME PAGE** for the react-app

- [x] I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
- [x] I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
**Please make sure in the `.css` files you are making/using , the styles should be applied to **Un

[2022-02-06 07:07] IAmTamal opened #50 "React App Contact page"
## I want to have a Contact page

---

## Guidelines 🔐

- [x] I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
- [x] I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be applied to **Uni

[2022-02-06 07:51] #47 closed

[2022-02-07 04:13] mridul4101 commented on #49
I would like to work for this under JWOC.

[2022-02-07 04:20] IAmTamal commented on #49
Go for it !!
Do follow the figma design as **accurately as possible**
Tag me in `#milan` for queries.

Assigning to @mridul4101

[2022-02-07 04:35] Aniket-508 commented on #50
@IAmTamal I wanted to work on this under JWOC.

[2022-02-07 04:37] IAmTamal commented on #50
Go Ahead . make sure to follow the guidelines strictly.
Make the page as accurate as possible relative to Figma design
In case of doubts tag me in `#milan` channel.

Assigning  to you @Aniket-508

[2022-02-07 05:10] #44 closed

[2022-02-07 06:08] Aniket-508 commented on #50
![Milan](https://user-images.githubusercontent.com/71957423/152733678-f3decdb2-2ac0-42de-a54a-a3502fc8aa00.JPG)

You want to add a contact page here right? @IAmTamal

[2022-02-07 07:03] IAmTamal commented on #50
Yes , @Aniket-508

[2022-02-07 13:47] #50 closed

[2022-02-07 18:18] Devmindtk commented on #48
I would like to work on this issue.please assign it to me.

[2022-02-07 18:50] IAmTamal commented on #48
These are only for JWOC participants.

[2022-02-07 18:53] IAmTamal opened #54 "UI/UX - React App Footer Refactor"
## I want to refactor the **react-app footer component**

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be

[2022-02-07 19:01] IAmTamal commented on #48
Go ahead.
Make sure you've read the guidelines.
Incase of doubts do contact me.
Assigning to @Devmindtk

[2022-02-07 19:03] Devmindtk commented on #48
Do I have to join any discord channel to give the updates?

[2022-02-07 19:10] IAmTamal commented on #48
Umm yes , JWOC has a discord channel. Sent via email now.

[2022-02-07 19:12] Rohan-Hazari commented on #41
I would like to work on this issue under jwoc

[2022-02-07 19:19] IAmTamal opened #55 "UI/UX - Styles fix"
## I want to refactor the styles of the contact form

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should b

[2022-02-07 19:20] IAmTamal commented on #41
Make sure you follow the guidelines and issue description strictly.
Assigning to you @Rohan-Hazari

[2022-02-08 03:18] soumali28 commented on #54
I want to contribute to the issue under JWOC

[2022-02-08 04:32] IAmTamal commented on #54
Go for it ,

Here's the design : [Figma Design](https://www.figma.com/file/sPVLhYppzhCzYYbqSmlebm/HomePage---Milan?node-id=0%3A1)

![image](https://user-images.githubusercontent.com/72851613/152918513-e22e5d74-ec44-4aab-84fe-80f540021146.png)

**You can go to this design , click on the button i made and look at the font family , colors etc i have used.**

[2022-02-08 06:34] Devmindtk commented on #48
scrollbar is getting stuck only on clubs page right?

[2022-02-08 06:45] Devmindtk commented on #48
https://user-images.githubusercontent.com/91221069/152932346-4a00b201-18be-456f-8521-120174fd4b94.mp4

@IAmTamal  check this one is it fine now?

[2022-02-08 07:27] Devmindtk commented on #48
yeah its working smooth.

[2022-02-08 07:38] IAmTamal commented on #48
Great !!
You can make a PR

[2022-02-08 08:14] Devmindtk commented on #48
error: src refspec main does not match any
facing this error in pushing my code to origin branch

[2022-02-08 08:31] Mainakroy050 commented on #55
Hey👋 Tamal
I want to work on this issue under JWOC

[2022-02-08 08:33] Devmindtk commented on #48
@IAmTamal after writing command git pull it shows this how to fixed it?
  fatal: not a git repository (or any of the parent directories): .git

[2022-02-08 08:50] IAmTamal commented on #55
Go ahead. Assigning to you @Mainakroy050
Make sure to follow the issue description , guidelines strictly.
In case of doubts tag me in `#milan`

[2022-02-08 08:53] IAmTamal commented on #48
Make sure you are in the right directory.
![image](https://user-images.githubusercontent.com/72851613/152951713-ef52d5ae-adf3-48de-be9d-174c33e7e114.png)

**NOT HERE ⚠**
![image](https://user-images.githubusercontent.com/72851613/152951802-74b9d770-32a0-4969-af75-fc20538b69f9.png)

[2022-02-08 09:03] #48 closed

[2022-02-08 10:58] Priiyaa commented on #41
Hi!
 I would like to work on this issue under JWOC

[2022-02-08 11:42] riiyaaa commented on #41
Assign me pleasee.

[2022-02-09 06:09] #54 closed

[2022-02-09 06:11] #49 closed

[2022-02-10 02:03] IAmTamal opened #61 "🎨 UI/UX - React App Club Login Page"
## I want to imporve the design for **react app's club login page**

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the

[2022-02-10 02:12] IAmTamal opened #62 "👨‍💻 Feature - React app Club Register Component"
## I want to have a Club's Register component for the react app

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styl

[2022-02-10 02:23] IAmTamal opened #63 "👨‍💻 Feature - Donate Banner react-app"
## I want to have a Donate banner for my react-app

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be

[2022-02-10 02:32] IAmTamal opened #64 "👨‍💻 Feature - About us component"
## I want to have a  About page for my react-app

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be ap

[2022-02-10 02:49] IAmTamal opened #65 "🗄 Backend - Make User schema"
## I want to make a User schema to save their data on register to Mongo Db

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

**In our mongo database , we currently have a sample coll

[2022-02-10 04:05] IAmTamal opened #66 "🗄 Backend - Make Clubs schema"
## I want to make a Club schema to save their data on register to Mongo Db

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

**In our mongo database , we currently have a sample coll

[2022-02-10 13:46] yeshwanth235 commented on #65
Assign it to me pls

[2022-02-10 13:48] mridul4101 commented on #63
I would like to work on this issue under JWOC.

[2022-02-10 13:49] IAmTamal commented on #65
Assigned to you , after done/ or any doubts tag me in `#milan`

[2022-02-10 13:50] IAmTamal commented on #64
Assigned to you , **after done/ or any doubts** tag me in `#milan`

[2022-02-10 13:50] IAmTamal commented on #63
Assigned to you , **after done/ or any doubts** tag me in `#milan`

[2022-02-10 16:31] KushalGhosh9899 commented on #62
I want to work on this issue under JWOC

[2022-02-10 16:45] pruthvirajjadhav1 opened #71 "To edit Title"
## I want to edit the title and add a logo too

---
![Screenshot (58)](https://user-images.githubusercontent.com/73253354/153454809-7db2015a-d868-4dc6-a05a-e31708a7e883.png)

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/ru

[2022-02-10 17:58] #65 closed

[2022-02-10 17:59] IAmTamal commented on #62
Assigned to you , @KushalGhosh9899

[2022-02-10 18:05] IAmTamal commented on #71
go for it

[2022-02-11 01:26] #66 closed

[2022-02-11 01:28] #62 closed

[2022-02-11 06:42] pruthvirajjadhav1 commented on #71
Please check the #74 PR

[2022-02-11 10:49] tusharjain365 commented on #64
I want to work on this issue under JWOC, if anyone not working on it.

[2022-02-11 11:58] #71 closed

[2022-02-12 04:54] Aniket-508 commented on #64
@IAmTamal Please assign me this issue. One person cannot work on 2 issues simultaneously since the current assignee has already one issue assigned to him.

[2022-02-12 04:56] mridul4101 commented on #64
One person can work on 2 issues simultaneously at max. See the guidelines please😅.

[2022-02-12 05:18] IAmTamal commented on #64
@Aniket-508  , one person **CAN** work on  **MAX 2** issues at the same time.
So , it's perfectly alright.

[2022-02-12 05:26] Aniket-508 commented on #64
@IAmTamal Still can you assign me this if @mridul4101 doesn't have a problem because he is already ranking 4.

[2022-02-12 05:28] mridul4101 commented on #64
I would like to work for these 2 😊.

[2022-02-12 05:46] IAmTamal opened #76 "🗄 Backend - User Registration"
## I want to store the user details once they register

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

![image](https://user-images.githubusercontent.com/72851613/153698730-6e09b64

[2022-02-12 05:50] IAmTamal opened #77 "🗄 Backend - Club Registration"
## I want to store the club details once they register

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

![image](https://user-images.githubusercontent.com/72851613/153698806-a93d73f

[2022-02-12 05:52] IAmTamal commented on #64
Sorry , i can't break the rules.

[2022-02-12 06:02] IAmTamal opened #78 "🗄 Backend - Display all clubs"
## I want to display all clubs from the database

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

![image](https://user-images.githubusercontent.com/72851613/153699098-de424347-e812

[2022-02-12 06:13] 19082002 opened #79 "Fix signup button in footer(home page)"
## I want to Fix signup button in footer under JWOC.

  sign up button is not working.

[2022-02-12 06:16] IAmTamal opened #80 "🗄 Backend - Display all users"
## I want to display all users from the database

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

![image](https://user-images.githubusercontent.com/72851613/153699518-2fae8d4b-4874

[2022-02-12 06:20] IAmTamal commented on #79
That is actually working , i fixed it.
The changes are not yet pushed so it's not visible.

[2022-02-12 06:20] #79 closed

[2022-02-12 06:28] KushalGhosh9899 commented on #77
I want to work on this issue under JWOC

[2022-02-12 06:29] yeshwanth235 commented on #76
Assign it to me pls under jwoc.

[2022-02-12 06:48] harshit-070 commented on #80
I would like to take up this issue under JWOC.

[2022-02-12 08:06] #64 closed

[2022-02-12 08:08] IAmTamal commented on #76
Go for it , once done/issues tag me in `#milan`

[2022-02-12 08:09] IAmTamal commented on #80
Go for it , done/issues tag me in `milan`

[2022-02-12 08:09] IAmTamal commented on #77
Go for it , done/issues tag me in `#milan`

[2022-02-12 08:37] harshit-070 commented on #78
I would like to take up this issue under JWOC.

[2022-02-12 10:34] IAmTamal commented on #78
go for it @harshit-070

[2022-02-12 11:21] #63 closed

[2022-02-13 01:08] #78 closed

[2022-02-13 02:11] IAmTamal opened #87 "🎨 UI/UX - Report button"
## I want to fix the position of the report button

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be

[2022-02-13 05:02] KushalGhosh9899 commented on #87
I want to work on this issue under JWOC

[2022-02-13 07:42] IAmTamal commented on #87
Go for it !!  , @KushalGhosh9899

[2022-02-13 07:42] #76 closed

[2022-02-13 11:42] #87 closed

[2022-02-15 11:20] IAmTamal opened #90 "🗄 Backend - Clubs Login"
## I want to login the clubs

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

![image](https://user-images.githubusercontent.com/72851613/153698806-a93d73fb-3ee8-4389-ac49-e7d3bbf10

[2022-02-15 11:22] IAmTamal opened #91 "🗄 Backend - User Login"
## I want to login the users

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## TO DO 🛠

![image](https://user-images.githubusercontent.com/72851613/154052300-f4b17f39-5f78-45ee-8d92-9915b236d

[2022-02-15 11:31] IAmTamal opened #92 "👩‍💻 Feature - Events Banner"
## I want to have an Events Banner for the react app

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should b

[2022-02-15 11:36] Tess-Vanta commented on #92
I want to take this up under JWOC

[2022-02-15 11:36] IAmTamal opened #93 "🎨 UI/UX - Contact page fix"
## I want to add missing things to the contact page of the react-app.

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , th

[2022-02-15 11:37] IAmTamal commented on #92
Go for it , tag me in `#milan` after done/doubts.

[2022-02-15 11:38] yeshwanth235 commented on #91
Assign it to me under jwoc pls.

[2022-02-15 11:39] IAmTamal commented on #91
Go for it , tag me in `#milan` after done/doubts.

[2022-02-15 11:42] mridul4101 commented on #90
I want to work on this issue under JWOC.

[2022-02-15 11:42] mridul4101 commented on #93
I want to work for this issue under JWOC .

[2022-02-15 11:43] IAmTamal opened #94 "🎨 UI/UX - About Page Fix"
## I want to fix the fonts, stylings for the about page.

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles shou

[2022-02-15 11:44] IAmTamal commented on #90
Go for it , tag me in `#milan` after done/doubts.

[2022-02-15 11:44] IAmTamal commented on #93
Go for it , tag me in `#milan` after done/doubts.

[2022-02-15 12:21] Srijita-Mandal commented on #94
Can I work on this issue under JWOC?

[2022-02-15 12:30] IAmTamal commented on #94
go for it , after done/doubts tag me in `#milan`

[2022-02-15 15:21] #93 closed

[2022-02-15 15:23] #94 closed

[2022-02-15 16:45] #91 closed

[2022-02-16 11:31] #92 closed

[2022-02-17 11:17] #90 closed

[2022-02-18 12:08] IAmTamal opened #100 "♾ API Integration - Club Login"
## I want to connect the club's login frontend to backend

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

---

## FIXES 🛠

**This is the clubs login page ⤵**

![image](https://user-images.githubuser

[2022-02-18 12:09] IAmTamal opened #101 "♾ API Integration - User Login"
## I want to connect the user's login frontend to backend

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

---

## FIXES 🛠

**This is the users login page ⤵**

![image](https://user-images.githubuser

[2022-02-18 12:15] IAmTamal opened #102 "♾ API Integration - Club Register"
## I want to connect the club's register to the backend

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

---

## FIXES 🛠

**This is the clubs register page ⤵**

![image](https://user-images.githubuse

[2022-02-18 12:18] KushalGhosh9899 commented on #100
I want to work on this issue Under JWOC

[2022-02-18 12:18] KushalGhosh9899 commented on #101
I want to work on this issue Under JWOC

[2022-02-18 12:18] IAmTamal opened #103 "♾ API Integration - User Register"
## I want to connect the user's register to the backend

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

---

## FIXES 🛠

**This is the user register page ⤵**

![image](https://user-images.githubuser

[2022-02-18 12:18] mridul4101 commented on #102
I want to work on this issue under JWOC.

[2022-02-18 12:19] mridul4101 commented on #103
I want to work for this under JWOC.

[2022-02-18 12:19] IAmTamal commented on #102
Assigning to you , once done tag me in `#milan` and we can review it together !!

[2022-02-18 12:21] IAmTamal commented on #103
Assigning to you , once done tag me in `#milan` and we can review it together !!

[2022-02-18 12:25] IAmTamal opened #104 "👩‍💻 Feature - Club description"
## I want to add a Club Description field

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be applied t

[2022-02-18 12:33] IAmTamal opened #105 "🎨 UI/UX - Picture size fix"
## I want to fix the size and text of banners

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be appli

[2022-02-18 19:06] IAmTamal commented on #105
Assigning to you !!

[2022-02-19 06:03] #102 closed

[2022-02-19 06:12] #101 closed

[2022-02-19 10:08] IAmTamal opened #111 "🎨 UI/UX - Contact Us Layout"
## I want to fix the layout for contact us page

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔

**Commit message--> `fix: <commit message>`**
Please make sure in the `.css` files

[2022-02-19 10:16] IAmTamal opened #112 "🎨 UI/UX - Footer Layout for Tablet"
## I want to fix the footer layout for tablets

---

## Guidelines ⚠

#### I have read the **[Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Contributing.md)** 🔐
#### I have read the **[Setup guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)** 🔐

 ---

## Notice ⛔
Please make sure in the `.css` files you are making/using , the styles should be appl

[2022-02-19 11:09] mridul4101 commented on #112
I would like to work for this issue under JWOC.

[2022-02-19 13:26] Tess-Vanta commented on #111
I want to take this up under JWOC

[2022-02-19 17:51] #105 closed

[2022-02-19 17:52] #100 closed

[2022-02-19 18:11] Shruti025 commented on #112
I want to work on this issue under JWOC

[2022-02-19 18:41] IAmTamal commented on #112
Go for it !!

[2022-02-19 19:42] KushalGhosh9899 opened #123 "🗄 Backend - Report API"
I want to get the `Report a Problem` data from the Report a Problem form.

### **To Do**
Will make a new route call of `/userreport` inside `server/routes/User.js`
Will make a report model inside of `/server/models`

**Data Model** -
It will have `first name`, `last name`, `email`, `reportmessage`

[2022-02-19 19:45] IAmTamal commented on #123
Assigned.

[2022-02-20 04:02] #123 closed

[2022-02-20 08:47] #111 closed

[2022-02-20 15:09] #112 closed

[2022-02-21 00:34] sas0922 opened #142 "Hard-coded credentials"
Use of hard coded credentials in User.js file line # 54 and in Clubs.js line # 62
https://github.com/IAmTamal/Milan/blob/main/server/routes/User.js
https://github.com/IAmTamal/Milan/blob/main/server/routes/Clubs.js

The hard-coded value "HELLOSECRET123" is used as a key

Hard-coded credentials, such as usernames, passwords, and certificates, should be removed from source code, in my opinion. Inste

[2022-02-21 00:37] sas0922 opened #143 "Logging of sensitive information"
In ClubeRegister.jsx credentials are logged without encryption and it is not good idea to log such sensitive information.

https://github.com/IAmTamal/Milan/blob/main/src/pages/clubs/ClubsRegister.jsx

Recommendation:
Before storing sensitive data, make sure it's always encrypted. If possible, avoid storing sensitive information

[2022-02-21 01:51] IAmTamal commented on #142
Thanks a lot for mentioning the issues !!

[2022-02-21 02:16] #142 closed

[2022-02-21 02:16] #143 closed

[2022-02-21 02:20] IAmTamal opened #144 "👨‍💻 Feature - Report Modal"
## I want to make a Report Modal , connected to the report button, also integrate to backend

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/

[2022-02-21 02:39] dakshgupta2002 commented on #144
Will we need to setup backend routes and controllers too?

[2022-02-21 02:44] IAmTamal commented on #144
The backend is present already. This is how it looks !! ⤵

![image](https://user-images.githubusercontent.com/72851613/154880348-17e32d8b-4c4e-4099-afdd-b5453d12b602.png)

![image](https://user-images.githubusercontent.com/72851613/154880371-02b63344-aa43-4d68-bc15-cc765d83e46b.png)

**You will need to make the UI , work with AXIOS to send the data to backend**
**You might need to test the backend

[2022-02-21 02:45] IAmTamal commented on #144
Assigning to you ,

[2022-02-21 02:54] IAmTamal opened #145 "👨‍💻 Feature - Clubs Page"
## I want to display the clubs directly from the database

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

[2022-02-21 03:15] mridul4101 commented on #145
I want to work for this under JWOC.

[2022-02-21 03:18] IAmTamal commented on #145
Assigning to you

[2022-02-21 03:23] IAmTamal opened #146 "🎨 UI/UX - New Banner upon auth"
## I want to hide the Banner when the user/club has logged in !!

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md

[2022-02-21 03:47] Aniket-508 commented on #146
I want to work on this under JWoC.

[2022-02-21 03:49] IAmTamal commented on #146
Assigning to you , make sure your commits/PR title is `fix: give your commit message here` , this is VERY IMPORTANT !!

[2022-02-21 05:20] Aniket-508 commented on #146
@IAmTamal Is the new banner already made or do I have to make it?

[2022-02-21 05:22] IAmTamal commented on #146
@Aniket-508  , here is the figma file --> https://www.figma.com/file/TuDWqG3vI0e73lBbEjPXue/banner?node-id=0%3A1

You need to make it !!

[2022-02-21 05:31] Aniket-508 commented on #146
@IAmTamal Then can you please assign medium to it because I thought it was just the bug resolve?

[2022-02-21 05:34] IAmTamal commented on #146
Yeah sure !!

[2022-02-21 07:04] Aniket-508 commented on #146
@IAmTamal Btw the illustrations are very cool. Where did you get them?

[2022-02-21 10:30] #145 closed

[2022-02-21 10:33] IAmTamal commented on #146
You can import it from the FIGMA DESIGN itself , i used a plugin named Storyset.

[2022-02-22 18:08] dakshgupta2002 opened #150 "FIX: Preventing spam of report from users."
## I want to fix the issue of a single user spamming server with reports.

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_C

[2022-02-23 11:32] #144 closed

[2022-02-23 11:34] IAmTamal commented on #150
Assigned to you @dakshgupta2002

[2022-02-23 13:24] IAmTamal opened #151 "🎨UI/UX - Report Modal glitches out"
## I want to fix the report modal for mobile screens

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

##

[2022-02-23 13:26] mridul4101 commented on #151
I want to work for this issue under JWOC.

[2022-02-23 13:26] ken1000minus7 commented on #151
I would like to work on this issue under JWOC ✌️

[2022-02-23 13:29] IAmTamal commented on #151
Assigning it to you

[2022-02-23 13:31] IAmTamal opened #152 "🎨 UI/UX - Home Buttons"
## I want to <text here>

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## Notice ⛔

You will make PRs

[2022-02-23 13:36] IAmTamal commented on #152
assigned !!

[2022-02-24 11:54] Tess-Vanta commented on #146
I want to work on this under JWOC

[2022-02-24 12:02] IAmTamal commented on #146
Assigned to you

[2022-02-24 14:28] #151 closed

[2022-02-24 14:37] #152 closed

[2022-02-25 17:05] dakshgupta2002 opened #155 "Fix: Adding logout option for loggedin user"
## I want to add logoout functionality

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## Notice ⛔

You

[2022-02-25 18:26] KushalGhosh9899 commented on #155
I want to work on this issue under JWOC as it has Up for Grab label

[2022-02-26 11:53] #146 closed

[2022-02-26 14:42] Tess-Vanta opened #160 "Redirect on clicking logo and adding functionality to sign up button"
## I want to functionality to sign up button in the footer and redirect to home page on click of logo in navbar

![image](https://user-images.githubusercontent.com/72697074/155847135-18d891be-2cb1-4fcb-8e3e-421b7e25a596.png)

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](htt

[2022-02-27 03:31] IAmTamal opened #161 "👨‍💻 Feature - Loading circle"
## I want to add Loading circle to **Clubs Page**

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## Not

[2022-02-27 03:36] IAmTamal opened #162 "🎨 UI/UX - LoginBanner"
## I want to fix the look of Login Banner for mobiles.

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

#

[2022-02-27 04:46] Srijita-Mandal commented on #161
Can I work on this issue under jwoc?

[2022-02-27 04:50] Tess-Vanta commented on #162
I would like to take this up under JWOC

[2022-02-27 04:53] Shruti025 commented on #162
I want to work on this under JWOC

[2022-02-27 06:37] KushalGhosh9899 commented on #162
I want to work on this under JWOC

[2022-02-27 08:58] IAmTamal commented on #161
Assigned

[2022-02-27 11:19] dakshgupta2002 opened #168 "Feat: Logged in users can change/update password."
## I want to add feature to allow users to update their password in the database.

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/C

[2022-02-27 14:02] #155 closed

[2022-02-27 14:03] #162 closed

[2022-02-27 14:29] #168 closed

[2022-02-27 20:20] #161 closed

[2022-03-01 01:49] IAmTamal opened #169 "🗄 Backend - Events modal"
## I want to make a events Schema for MongoDb

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## Notice

[2022-03-01 01:54] IAmTamal opened #170 "👨‍💻 Feature - Create Events Page"
## I want to make a Events Addition Page

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## Notice ⛔

Yo

[2022-03-01 01:59] IAmTamal opened #171 "👨‍💻 Feature - Dynamic Events Banner"
## I want to change the Events Banner whenever a "Club" logs in

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

[2022-03-01 02:04] IAmTamal opened #172 "🎨 UI/UX - User Register Page"
## I want to make some changes to the clubs and user's Login page

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.m

[2022-03-01 02:13] tamalCodes opened #173 "🎨 UI/UX - Clubs Login Page"
## I want to make some changes for the clubs page in the mobiles

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md

[2022-03-01 02:21] IAmTamal opened #174 "🎨 UI/UX - Club Register"
## I want to make some changes in the Club Register

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## N

[2022-03-01 02:27] Tess-Vanta commented on #170
I want to work on this under JWOC

[2022-03-01 02:29] Tess-Vanta commented on #174
I want to work on this under JWOC

[2022-03-01 02:34] IAmTamal commented on #174
Assigned @Tess-Vanta

[2022-03-01 02:41] yeshwanth235 commented on #173
I would like work in this issue, assign it to me pls.

[2022-03-01 02:45] yeshwanth235 commented on #169
I would like work on this issue, pls assign it to me.

[2022-03-01 02:45] dakshgupta2002 commented on #170
I want to work on this issue under JWOC

[2022-03-01 02:56] Shruti025 commented on #172
I want to work on this under JWOC

[2022-03-01 03:10] IAmTamal commented on #170
Assigned @dakshgupta2002

[2022-03-01 03:11] IAmTamal commented on #169
Assigned @yeshwanth235

[2022-03-01 03:54] Aniket-508 commented on #172
I want to work on this under JWoC.

[2022-03-01 04:12] IAmTamal commented on #172
Assigned to you @Aniket-508

[2022-03-01 04:33] mridul4101 commented on #173
I would like to work for this under JWOC.

[2022-03-01 05:41] KushalGhosh9899 commented on #171
I want to work on this issue under JWOC

[2022-03-01 05:57] IAmTamal commented on #173
Assigned @mridul4101

[2022-03-01 05:58] IAmTamal commented on #171
Assigned @KushalGhosh9899

[2022-03-01 09:53] #169 closed

[2022-03-01 17:32] Ankit62042 commented on #173
I want to work on this issue

[2022-03-01 17:52] Aniket-508 commented on #172
@IAmTamal Please have a look at this!

[2022-03-02 11:30] #173 closed, assigned to mridul4101

[2022-03-02 12:21] #174 closed

[2022-03-03 11:36] maneet057 commented on #172
I would like to work on it under jwoc

[2022-03-03 11:51] #170 closed

[2022-03-04 03:10] #172 closed

[2022-03-05 16:44] Tess-Vanta commented on #171
I want to work on this under JWOC

[2022-03-06 06:21] #171 closed

[2022-03-07 04:53] IAmTamal opened #181 "🗄 Backend - Events API"
## I want to make a backend API for events addition

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## N

[2022-03-07 05:01] IAmTamal opened #182 "🗄 Backend schema + route - Contact Us"
## I want to make API for contact us

---

## Guidelines ⚠

### I will follow the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/main/rules/Setup.md)
### I will follow the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONTRIBUTING.md)
### I will follow the [Code of Conduct](https://github.com/IAmTamal/Milan/blob/main/CODE_OF_CONDUCT.md)

 ---

## Notice ⛔

Please

[2022-03-07 05:40] yeshwanth235 commented on #181
I would like to work on this issue, assign it to me pls.

[2022-03-07 05:55] r3yc0n1c commented on #182
I want to work on this issue under JWoC 2022

[2022-03-08 07:00] #181 closed

[2022-03-09 05:19] yeshwanth235 commented on #182
I am interested in working on this issue, can you assign it for me.

[2022-03-09 11:31] #182 closed

[2022-06-02 04:55] IAmTamal opened #188 "Mobile Responsive banner"
### Description

Currently the banner for the Landing page is not looking good for mobile !!

Can you fix it ?  so that it looks more appealing.

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/171555508-23c7f3c6-e0ec-413f-9eee-aaf8b327a6c1.png)

### Additional information

_No response_

[2022-06-03 02:38] #188 closed

[2022-06-09 10:43] IAmTamal opened #190 "Navbar profile logo breaks on user's register page"
### Description

In the Navbar, we have a profile Logo.

The image breaks here, i need a work around for this.
Also **CHECK** for all the other screens

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/172828747-aba10b51-fbce-4c05-9239-fdb48add44fc.png)

### Additional information

_No response_

[2022-06-09 10:47] IAmTamal opened #191 "Contact Page looks bad"
### Description

### If you take a look properly the contact form looks bad on the right hand side with that square thing and black drop shadow I want you to design a minimal impressive design for the contact page and also make it responsive enough for mobiles and tablets.

**ALSO** try and change the picture to more high quality SVG from Storyset if possible.

### Screenshots

![image](https://us

[2022-06-12 18:27] ImranVirani opened #193 "Footer Content"
### Description

When a user is not logged in the home page, in the footer displays lorem ipsum text and navigation links are unlabelled and point to nowhere.

### Screenshots

![image](https://user-images.githubusercontent.com/32938830/173247815-e34b342c-86af-4ad1-ae6e-738b7d2e51fd.png)

### Additional information

_No response_

[2022-06-13 03:00] IAmTamal commented on #193
You can try and fix it !!
Go ahead

[2022-06-14 18:39] yung-coder commented on #190
I would like to try fix it

[2022-06-14 19:01] IAmTamal commented on #190
Sure, go ahead 🚀

[2022-06-17 18:01] #190 closed

[2022-06-24 21:27] PratishShrivastava commented on #191
@IAmTamal ,can I work on this issue.

[2022-06-25 20:20] Hat52 commented on #191
I would like to work on this issue.

[2022-06-26 14:45] IAmTamal commented on #191
Go for it !!

[2022-06-28 03:45] #191 closed

[2022-06-29 04:03] IAmTamal opened #199 "Home page fixes 🍕"
### Description

### The home page background !!

**I need to have fullscreen background of the hands , currently if you zoom out it shrinks too.
I would like to have it made in such a way that it doesn't shrinks out !!**

**And stay fullscreen at all times.**

**This should be applicable for mobiles as well**

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/176348649-

[2022-06-29 04:11] IAmTamal opened #200 "Report page 🍟"
### Description

##It looks aweful

**The report page looks totally cramped and neither it gives out a good UX nor does it looks nice on the first impression**

**I want to have a clean neat report page !!**
**You can refer to this design if you want ⤵**
![image](https://user-images.githubusercontent.com/72851613/176349652-ee68ad32-f2b0-4744-b0be-4534d4f2a683.png)

Also make sure the **X** icon on

[2022-06-29 07:36] lpizzinidev commented on #200
Hi @IAmTamal ✋ Can I work on this?

[2022-06-29 08:03] prabhpreet-code commented on #200
I would love to work on this!!

[2022-06-29 14:08] IAmTamal commented on #200
Awesome, go ahead !!

[2022-06-29 21:07] IAmTamal commented on #200
Hi , look at the **report button** in the footer , that's how the page is acessed.
And as of code it is in **[Footer.jsx](https://github.com/IAmTamal/Milan/blob/main/src/components/Footer.jsx)**

[2022-06-30 06:23] NishanBhandai commented on #200
Also I am not being able to run the code here what I did
npm install and I got this

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN ERESOLVE overriding peer dependency
npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: react-intl@5.24.6
npm ERR! Found: typescript@3.8.3
npm ERR! node_modules/typescrip

[2022-06-30 10:11] prabhpreet-code commented on #200
Hi @IAmTamal  , would like to ask you that can we use material-ui icons for top right cross button?

[2022-06-30 10:13] prabhpreet-code commented on #200
May I ask you that where did u do npm install i.e in which respected folder?

[2022-06-30 11:09] Hat52 commented on #199
I would like to take up this issue

[2022-06-30 12:23] NishanBhandai commented on #200
@prabhpreet-code zulip\zulip-mobile>

[2022-06-30 12:42] prabhpreet-code commented on #200
@NishanBhandai You need to clone it first in any directory in your computer by method git clone and then cd Milan i.e the name of the project after that cd src folder then here do npm install then npm start ... it will redirect you to the website at your localhost.

[2022-06-30 14:56] IAmTamal commented on #200
Yes !!

[2022-06-30 14:57] IAmTamal commented on #199
Go for it !!

[2022-06-30 15:05] IAmTamal opened #201 "UI/UX - Contact Page 🎨"
### What would you like to share?

### The contact page looks kind of empty.

**I want to have a minimal yet high quality SVG on the left of the contact page ,it will greatly improve the aesthetics.**

**You can definetly make it responsive SUCH THAT the image is not visible for smaller devices like Mobile Phone and so on , you can create your own minimal image or have one from the references belo

[2022-06-30 17:51] IAmTamal commented on #200
Looks perfect Prabhpreet , feel free to make a PR.
Will be merged tomorrow 🚀

[2022-06-30 18:16] prabhpreet-code commented on #200
Great!! thanks, Tamal...

[2022-07-01 02:50] prabhpreet-code commented on #201
If not assigned, it would be great to work on!!

[2022-07-01 04:44] Siddhant422 commented on #201
Can you assign this project to me.

[2022-07-05 15:12] warmachine028 opened #204 "User Credential Update Feature 🔒🔑"
### Description

## Feature Request:
- Milan Currently doesn't support User Credential updation.
- I want to implement a Password updation feature completely from frontEnd to backEnd.
- This will allow users to authenticate themselves using valid emailId and currentPassword.
- Then the user can Successfully change their password to a new one🎉🎊.
- The implemented feature is given below.

### Screen

[2022-07-05 15:21] #199 closed

[2022-07-05 15:24] IAmTamal commented on #201
@Siddhant422 what's the status of the work ?

[2022-07-06 15:39] #204 closed

[2022-07-07 05:19] Harsh3363 opened #207 "Improvement in the donation and event section's design"
### improvement in UI

It would be great if there will be a icon in the explore button just like share your love button and also some hover effect like the buttons in the club and user buttons.

### Additional information

_No response_

[2022-07-07 06:21] IAmTamal commented on #201
@prabhpreet-code  , if you want to work on it you can !
I'm removing @Siddhant422 as it has been 6 days !

[2022-07-07 06:27] IAmTamal opened #208 "UI/UX - Footer 🎨"
### Description

## The footer can definetly have some improvements !

**If you take a look below the footer its says `MILAN RIGHT RESERVED . .. `  i want that removed , also there's some white space under it which needs to be removed as well!**

 - The footer must be at the bottom of the screen , and there should be **NOTHING** below it
 - Make sure this works for MOBILES, TABLETS as well

### Sc

[2022-07-07 07:04] prabhpreet-code commented on #201
No issues... I'll be reverting back to you with the work !!

[2022-07-07 08:30] prabhpreet-code commented on #201
@IAmTamal One thing I would like to know that on mobile and tablets should the image and form be present side by side or wrapped in one after one?

[2022-07-07 09:13] IAmTamal commented on #201
Hmm i believe side by side on such a small space would not look good , so you can hide the image in mobiles and only the form would  be there  !

For tablet you can make it side by side OR you can make the form in the center !

[2022-07-07 13:33] prabhpreet-code commented on #201
Hey @IAmTamal can you please check once font combination and side image for the desktop version??
![Screenshot (2257)](https://user-images.githubusercontent.com/66708921/177786110-d5e7c7c5-8c92-47d7-a402-4475a9c95f26.png)

[2022-07-07 14:24] deepak-sourcecode commented on #208
@IAmTamal I can help out with this. Could you assign this to me?

[2022-07-08 17:10] #207 closed

[2022-07-08 17:43] IAmTamal opened #209 "⛎ DEPLOY SERVER -Events"
### What would you like to share?

Deployments needs to be done for the server !

### Additional information

_No response_

[2022-07-08 19:19] IAmTamal commented on #201
The image can be slight smaller !

[2022-07-08 20:17] #209 closed

[2022-07-09 06:17] adithgit opened #211 "Footer login and register anchor tags works locally but not when deployed."
### Description

The login and register links on the footer of landing page is not working and throwing a 404 error when clicked.

### Screenshots

![Screenshot from 2022-07-09 11-28-27](https://user-images.githubusercontent.com/88667329/178094194-40318182-77bc-4930-93bc-3f1a511352f4.png)
![Screenshot from 2022-07-09 11-28-35](https://user-images.githubusercontent.com/88667329/178094195-8d86f0fd-4

[2022-07-09 08:05] adithgit commented on #211
I've opened a pull request fixing this issue, Kindly check it out.

[2022-07-09 08:07] adithgit commented on #211
I've opened a pull request fixing this issue, Kindly check it out.

[2022-07-09 09:57] #208 closed

[2022-07-09 11:32] prabhpreet-code commented on #201
What about this @IAmTamal ?
![Screenshot (2259)](https://user-images.githubusercontent.com/66708921/178103723-f273d1fb-b1a6-4957-8883-0d912bb6cef1.png)

[2022-07-09 16:52] #211 closed

[2022-07-09 16:53] IAmTamal commented on #201
Looks good !

[2022-07-11 13:30] IAmTamal opened #214 "Footer needs changes - Mobiles ⚒"
### Description

The footer needs some improvements.
This is  valid for only **Mobile devices**

The texts i preferred to be centered  !
Also the report button is bugged out , that needs to be fixed too !

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/178275263-80c9c97f-25d7-4900-a786-fd7d2d82903d.png)

### Additional information

_No response_

[2022-07-11 13:37] IAmTamal opened #215 "The events page 🛠"
### Description

### This is more of a interface fix !

If you look at **image 1** , you'll see the explore button upon clicking we land on the **events page** but we autoscroll downwards.

You can check this out in **image 2** where we are down  !

I want to **land on the events page** like in **image 3** , so there are some fixes to be done regarding this scroll  !

### Screenshots

### Image 1

[2022-07-12 03:33] IAmTamal opened #216 "Difference between the pages 🎨"
### Description

### There's  a difference between the pages that i would love to get fixed

The **Clubs Login page** from **image 1**, as you can see this is the design i love, and it looks awesome and minimal.

The **User Login page** on the other hand from **image 2**, has a slight different font, some extra texts.

**Exlcuding** the colors, i want all to be same !

### Screenshots

### Image 1

[2022-07-12 07:11] Rinshin-Jalal commented on #214
I can do that?

[2022-07-12 07:34] IAmTamal commented on #214
Go for it  !

[2022-07-12 08:50] Rinshin-Jalal commented on #214
Oops Sorry

I am good at bootstrap

Sorry for wasting your time...

[2022-07-12 09:17] IAmTamal commented on #214
Hi , i didnot understand what you meant to say !

[2022-07-12 09:18] IAmTamal commented on #215
Hi there,
You can make a PR, so that we can review the work done !

[2022-07-12 09:51] Rinshin-Jalal commented on #214
I mean I don't know much about the bootstrap..

missed `not` 😑

[2022-07-12 20:26] rohitroy-github commented on #214
Hey @IAmTamal > I tried fixing this issue. Here's a screenshot from my local file. I made a pull-request regarding the same.

![check](https://user-images.githubusercontent.com/68563695/178588816-84ae407a-410f-4b18-bc7e-80b5d0141cce.PNG)

[2022-07-12 20:40] rohitroy-github commented on #214
Please have a check.

[2022-07-13 00:09] #215 closed

[2022-07-13 04:00] rohitroy-github commented on #216
Hey @IAmTamal, I was checking this issue out. Do you want the [left-hand-side] images also to be the same or just the font styles ?

[2022-07-13 15:20] #214 closed

[2022-07-14 03:48] IAmTamal commented on #216
Hi there sorry for the late replies !
Yes it looks perfect to me, thankyou for your contributions !

[2022-07-14 03:52] #216 closed

[2022-07-14 04:33] IAmTamal opened #221 "Donations"
### Description

 - We will be figuring out donations for the events and the whole process as such !

 - Schedule meets with Investors

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-14 04:34] IAmTamal opened #222 "Fully dynamic events"
### Description

 - Collabs with NGOs
 - Talk to hosting partners
 - Talk to sponsers

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-15 16:23] IAmTamal opened #223 "Login Button"
### Description

I would like to fix the **Login Button** in **Club Login page**
It gets large and changes colors a bit in **Hover**

---

I want to make all these go away
Stay normal when hovered !

### Screenshots

### Normal

![image](https://user-images.githubusercontent.com/72851613/179265520-426141a9-0c7c-414a-885f-2d6dfeb6fd3e.png)

### Hover

![image](https://user-images.githubusercontent.

[2022-07-15 16:27] IAmTamal opened #224 "Welcome page fix 🛠"
### Description

When you login as an **User** in our site, it takes you to **Welcome Page**
As you can see the welcome page is not full screen in the **screenshot**

---

- I need to make it so that it is fullscreen for desktop
- Make sure it looks on Mobile and doesnot breaks !

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/179266117-b823c850-a1aa-4bd6-85d7-92f6a21

[2022-07-15 17:51] rohitroy-github commented on #223
Hey @IAmTamal > I tried to fix this issue. Here's a screenshot of the updated 'LOGIN' button.

![image](https://user-images.githubusercontent.com/68563695/179282151-8dfe00d5-452b-49cc-855b-86b0a9b20614.png)

I didn't remove the bug-CSS classes but commented it out for future reference. Please have a check.

[2022-07-15 17:51] rohitroy-github commented on #223
Hey @IAmTamal > I tried to fix this issue. Here's a screenshot of the updated 'LOGIN' button.

![image](https://user-images.githubusercontent.com/68563695/179282151-8dfe00d5-452b-49cc-855b-86b0a9b20614.png)

I didn't remove the bug-CSS classes but commented it out for future reference. I made a PR, please have a check.

[2022-07-16 08:03] #223 closed

[2022-07-16 19:22] PratishShrivastava commented on #224
@IAmTamal I would like to work on this.

[2022-07-16 20:34] rohitroy-github commented on #224
Hey @IAmTamal, I tried to fix the page dimentions. Its looks like this now. It looks like the way you wanted I guess.

![image](https://user-images.githubusercontent.com/68563695/179371069-7cc58a33-0daa-44f7-9969-88898c41c21d.png)

I made a PR, please have  a check !

[2022-07-17 15:38] #221 closed

[2022-07-17 15:38] #222 closed

[2022-07-18 17:05] warmachine028 opened #227 "Code Enhancements and Minor fixes"
### Description

- Errors from servers previously responded with `success: false`, `exists: true`, `doesNotExists`
- These were then again conditionally checked inside `MilanAPI.js`.
- If we directly send the error message with status code from the server, then there will be no need to conditionally check the status before alerting in client side, reducing code size and help understand the code ea

[2022-07-19 03:13] IAmTamal commented on #227
Awesome , go for it.
Since there are alot of changes make sure you avoid any delays in the code !

[2022-07-19 18:17] rohitroy-github commented on #224
Hey @IAmTamal > I have fixed the page according to the said requirements and made a PR.

[2022-07-19 19:50] #227 closed

[2022-07-19 19:57] #224 closed

[2022-07-20 14:43] warmachine028 opened #230 "Implementation of Contact Page - FrontEnd to BackEnd Logic"
### Description

- Right ContactUs Page is non operational right now in Milan.
- Server side routes are clear but API requests can not be made yet from client side.
- Also server throws error when multiple contact requests are made from same email-id.
- We can solve the error by checking if any previous contact item exist from the email-id.
  - If yes we can replace the details
  - else we can cre

[2022-07-23 05:33] IAmTamal commented on #230
Awesome !

You can make a PR when done

[2022-07-23 19:37] #230 closed

[2022-07-24 02:29] IAmTamal opened #235 "Toasts - No more alerts !"
### Description

### Using alerts are boring :)

Currently when we register the alerts from `windows.alert()` looks pretty weird on the go, i would love to change the way it works.
I would like to use toasts instead of alerts.

- They looks cool
- They makes the alerts much more managable !

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/180629550-dd380e93-b283-47e3-8

[2022-07-24 03:52] IAmTamal opened #236 "UI/UX - Footer for mobile 🎨"
### Description

### Take a look at the footer in mobile screens

The footer looks bad specially because it is cramped up.
- The width of the text can be increased so that it spreads
- The fontsize can be decreased by maybe 1/2 pixels ?
- Also refer to **Image2**, i want them side by side for **mobiles**

### Screenshots

### Image 1

![image](https://user-images.githubusercontent.com/72851613/180

[2022-07-24 04:11] IAmTamal opened #237 "UI/UX - Events page breaks 🎨"
### Description

### The event page breaks in mobiles.

- I need it's responsiveness to be fixed
- keep the image on top, the text on bottom.
- Also make sure it works for tablets

### Screenshots

### Image 1

![image](https://user-images.githubusercontent.com/72851613/180631693-ae66f7b6-b0b1-44b1-bea2-7a744fc584df.png)

### Additional information

The route is : `/display/events`

[2022-07-24 06:09] yashwanthSRIVAT commented on #235
Hello! I'd like to work on this addition! Please tell which position you want the toasts to pop-up at(Bottom or top? Left middle centre?)

[2022-07-24 06:58] kristiingco commented on #237
hello! this is my first time contributing to an open source project and i had forgotten to comment before submitting a PR 😅 my apologies. if it's still all right, feel free to check it out at #239 ! i will be more mindful next time waiting for an assignment.

[2022-07-24 06:59] kristiingco commented on #236
hello! i am interested in this issue :) for image 2, may i clarify which elements you want side by side?

[2022-07-24 07:05] warmachine028 commented on #235
This would be a great addition. And will improve the UI ❤️

[2022-07-24 07:29] IAmTamal commented on #235
I would prefer top-right for the toasts !

[2022-07-24 07:36] IAmTamal commented on #237
Hi, it's okay !
I will look into the PR shortly and will let you know about changes (if any)

[2022-07-24 07:41] IAmTamal commented on #236
Take the red marker as the line.

 - The **top** of the red marker ( only social media icons ) will be on the left.
 - The **bottom** of the red marker (only JoinUs, Login, register) will be on the right.

[2022-07-24 14:07] #237 closed

[2022-07-24 18:56] mohit1607 commented on #235
yeah we can use react-toastify library for the toasts. I am ready If you allow me to contribute.

[2022-07-25 06:10] IAmTamal commented on #235
@yashwanthSRIVAT  I need this done by tommorow morning. I have some sponser presentations.
This is a `high` priority.

[2022-07-25 06:21] yashwanthSRIVAT commented on #235
@IAmTamal yup. It's almost done😄

[2022-07-25 10:06] warmachine028 opened #243 "Club Login Banner and Navbar Event Link 🔗⚠️"
### Description

- **BUG 1**: After Club login Banner is still visible instead of Login Banner. This issue leads to clubs not being able to see navbar even when logged in.
- **BUG 2**: Events Component crashes the page on clicking. This bug is caused due to anchor tag. Can be fixed by replacing anchor tag by Link component.

![bug](https://user-images.githubusercontent.com/75939390/180752283-e1de2

[2022-07-25 10:10] IAmTamal commented on #243
The First Bug , `After Club login Banner is still visible instead of Login Banner` is not actually a bug. We had a design for `CLUB LOGIN BANNER` as well, but i lost those files. As a result we just have only one `Login Banner` which shows up after `USER` logs in.

Anyways for now you can use the `LOGIN BANNER` after the clubs log in !

[2022-07-25 14:38] #243 closed

[2022-07-25 16:26] #201 closed

[2022-07-25 16:28] tamalCodes opened #246 "UI/UX - Contact Page 🎨"
### Description

### What would you like to share?

### The contact page looks kind of empty.

**I want to have a minimal yet high quality SVG on the left of the contact page ,it will greatly improve the aesthetics.**

**You can definetly make it responsive SUCH THAT the image is not visible for smaller devices like Mobile Phone and so on , you can create your own minimal image or have one from th

[2022-07-25 16:32] warmachine028 commented on #246
Would like to work on this. Will start working after SDP exam is over.

[2022-07-25 19:45] warmachine028 commented on #246
![preference](https://user-images.githubusercontent.com/75939390/180859624-bb84ab8e-109c-4420-9553-26c11fdd0675.png)

### Among the above, which one should be preferred for mobile devices?
---

![button size](https://user-images.githubusercontent.com/75939390/180861190-e44368f6-d194-405b-abfd-f059a3e9cd36.png)

![size confirmation](https://user-images.githubusercontent.com/75939390/180860521-a2826

[2022-07-25 23:39] IAmTamal commented on #246
For mobiles the **RIGHT SIDE** image looks clean and a good fit.

and for desktop, the button with **FULL WIDTH** would look more complete

[2022-07-26 15:57] #246 closed, assigned to warmachine028

[2022-07-26 16:00] #235 closed

[2022-08-02 04:01] kristiingco commented on #236
sorry, i got preoccupied with moving places the last few days! going to get this done within the week! 🙏

[2022-08-02 17:21] #236 closed

[2022-08-12 09:48] IAmTamal opened #250 "💰 Stripe Payment"
### Description

### Feature Request to add Razorpay payments

 - This is a much needed because we now have a donate option
 - We can easily pay with cards and also G-Pay
 - We will integrate Paytm soon

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/184502418-3a831f6b-32bf-4289-8cfc-4519a01eb1c5.png)

### Additional information

 - None

[2022-08-12 09:54] IAmTamal opened #251 "💰 Stripe sucess page"
### Description

### Feature Request to implement a success page

 - A request completed page
 - This will be helpful for users to understand sucessfull payments + reciepts
 - Add confettis too because why not XD

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/184330562-76009b38-c75e-42ed-988c-066e9fc45c76.png)

### Additional information

 - The reciepts might not be

[2022-08-13 16:25] IAmTamal commented on #250
Done and dusted 🚀

[2022-08-13 16:25] #250 closed

[2022-08-13 16:39] IAmTamal opened #253 "🚀 Add a banner for clubs !"
### Description

### We need a banner

If you look at the **Donate Us** page, you will see a banner --> `Image 1`
But the **Clubs** page has none.  --> `Image 2`

**Donate Us Page** : https://milaan.vercel.app/donateus
**Clubs Page** :  https://milaan.vercel.app/display/clubs

Can we have a banner where the clubs page has a similar one too ?
You can use a good image from internet.

**Heading**

Cl

[2022-08-13 16:50] IAmTamal opened #254 "Banner differences 🤔"
### What would you like to share?

### Different banners looks bad

If you look at the banner in **Donate us Page** you would notice a different font, style as well as color for it.
But if you then look at our **Events Page** you will see it has a different style to it.

I want the **Events** to be same as the **Donate page Banner**

## Links
 - Donate Page ( https://milaan.vercel.app/donateus)
 -

[2022-08-13 17:07] IAmTamal opened #255 "Contact Page - Mobiles"
### Description

## The contact page needs minor improvements

Take a look at `Image 1`  ,  the mobile version of the page looks a little bit off.
**Improvements**

 - Centered Labels
 - Reduce width for inputs

### Screenshots

## Image 1

![image](https://user-images.githubusercontent.com/72851613/184503653-0cc751fe-c5a7-4adf-8c5c-7c3eaa956c94.png)

### Additional information

_No response_

[2022-08-14 04:21] warmachine028 commented on #255
Would like to work in it

[2022-08-14 04:25] warmachine028 commented on #255
![Screenshot_2022-08-14-09-53-41-03_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/75939390/184522416-8b4600b1-59b1-4b09-9a0b-f4332dec2549.jpg)

Would this input width be acceptable?

[2022-08-14 09:59] rohitroy-github commented on #254
Hey @IAmTamal , I tried fixing this issue. Here's how it looks >

Donate Page >

![Screenshot (51)](https://user-images.githubusercontent.com/68563695/184531862-b103c054-bd5f-491d-8d79-f4383e3d7f84.png)

Evant Page >

![Screenshot (52)](https://user-images.githubusercontent.com/68563695/184531868-419d1593-9dcf-46e0-b291-56dc93d2f381.png)

I have made a PR !

[2022-08-14 10:25] IAmTamal commented on #255
Yes the input width looks perfect !

[2022-08-14 10:26] IAmTamal commented on #254
Awesome, the Banners looks similar !

[2022-08-14 17:00] #254 closed

[2022-08-14 17:11] roei111 commented on #253
Hey @IAmTamal, I would like to work on this issue! Can you assign it to me? :)

[2022-08-14 17:12] IAmTamal commented on #253
Yes sure, go ahead !

[2022-08-14 21:17] Lydia02 commented on #255
Hello, what would you like to change about the contact page, I would like to solve it.

[2022-08-15 04:17] IAmTamal commented on #255
Another person is already working on the issue, i would request you to wait.

[2022-08-15 07:25] warmachine028 commented on #255
### 1. I have prepared 3 previews for the Contact page in Mobile view. Which one would be most preferred?
### 2. Does the input width look as desired or it must be decreased any further (-5px)?

![info](https://user-images.githubusercontent.com/75939390/184593065-09067aff-f8a0-496a-ad97-0c43f6e805f4.png)

[2022-08-15 15:54] IAmTamal commented on #255
I love the 1st one, can we have the placeholders in center ?
The input looks good.

**Also**, can we remove `Contact us` and say `Reach out to us !`

[2022-08-15 16:46] warmachine028 commented on #255
Sure! Why not

[2022-08-15 18:09] #253 closed

[2022-08-16 06:11] #255 closed

[2022-08-16 07:04] IAmTamal opened #261 "[FEATURE] Using Cookies - User Login 🚀"
### Description

## Cookies 🍪

Currently we are using **`sessionStorage.setItem("token", response.data.token);`**  - Session Storage in our `User Login` which is not much safe, so we would like to use Cookies which appears to be much safer !

**ONLY** , make this changes in User login.

### Screenshots

## Code

![image](https://user-images.githubusercontent.com/72851613/184817146-166ef2e2-4739-41

[2022-08-16 08:38] IAmTamal opened #262 "[FEATURE] Using Cookies - Club Login 🚀"
### Description

## Cookies 🍪

Currently we are using **`sessionStorage.setItem("token", response.data.token);`**  - Session Storage in our `Club Login` which is not much safe, so we would like to use Cookies which appears to be much safer !

**ONLY** , make this changes in Clubs login.

### Screenshots

## Code

![image](https://user-images.githubusercontent.com/72851613/184833597-f5e75277-1800-4

[2022-08-16 09:07] roei111 commented on #261
Hey, I can work on it, need to install this package [https://www.npmjs.com/package/js-cookie](url).
You are reading the token from storage in many files, do you want me to change those files too? or should I just set the cookie on the UserLogin backend?

[2022-08-16 20:49] roei111 commented on #262
I will do it tomorrow :)

[2022-08-20 13:45] #262 closed

[2022-08-20 14:11] IAmTamal opened #266 "Reduce width for Footer"
### Description

## Some changes in Footer

 - The footer seems too much wide (in height) for desktops, it would be much more subtle with little bit of reduced height !

 - Also the `report button` could have a slightly red text, blue doesnot looks proper on a black background

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/185749709-865af093-1f88-43a7-8c1e-260f958b45

[2022-08-20 14:51] roei111 commented on #266
Hey @IAmTamal, I can work on it.
About the `report button`, do you want to change only the text color to red? or change both text and border color to red?

[2022-08-22 18:11] #266 closed

[2022-08-24 03:45] #251 closed

[2022-08-24 03:51] IAmTamal opened #269 "Club Registration + Login Page"
### Description

# The club registration + Login  page has bugs
 - When you take a look at `Image1`, you will notice that we donot have placeholder for the form in mobile
 - Make sure there are appropriate placeholders **only** for the mobile !
 - Make sure the **marked part** in `Image 2 ` is side by side for the mobiles too !

### Screenshots

# Image 1

![image](https://user-images.githubuserco

[2022-08-24 06:46] Dun-sin commented on #269
Hi, can I work on this?

Also for the register section, do you want it as a label or a placeholder since in desktop mode it's a label and not a placeholder

[2022-08-24 07:06] IAmTamal commented on #269
Hi, sure go ahead !
I would love to have **placeholders** for both the Login, registrations in mobile-view !

That way it would look clean too

[2022-08-24 18:15] #269 closed

[2022-08-25 05:10] rohitroy-github opened #273 "Necessity > [Forgot Password] Link > [Register] Page"
### Description

Is the [Forgot Password] link necessary on the [Register] page {https://milaan.vercel.app/user/register} ?
Is not, it should be removed and kept only on the [Login Page] !

### Screenshots

![issue1](https://user-images.githubusercontent.com/68563695/186579953-5670a01d-7598-4e52-9890-bd4e591944d8.PNG)

### Additional information

_No response_

[2022-08-25 10:32] IAmTamal commented on #273
Good call !
it should have been only in the Login !

[2022-08-26 04:39] IAmTamal commented on #273
Great !

[2022-08-26 05:02] #273 closed

[2022-08-26 10:12] IAmTamal opened #275 "🛑🛑 HEROKU STOPS WORKING"
## Suggest a repalcement for Heroku

 - Currently, our project has it's server hosted on **HEROKU** - which has become paid now. No more free services
 - I want to transfer to something else, what can be a good  **FREE** alternative ?

[2022-08-26 11:32] roei111 commented on #275
On this site there are good free alternatives:
[https://alternativeto.net/software/heroku/?license=free](url)

[2022-08-26 15:34] fk00750 commented on #275
Vercel and firebare are one the great option... If you want I will be delighted to help you out 😊

[2022-08-27 13:20] IAmTamal commented on #275
Awesome ✅
Gonna check out both !

[2022-08-28 07:32] IAmTamal opened #276 "🎨 Frontend - Event page responsiveness"
### Description

- Take a look at `Image 1` , you will see that the events page looks broken in mobile view.
 - I want it to be fixed such that only the text is visible and **centered**
 - Make sure it looks good for **Tablet devices too**

### Screenshots

## Image 1

![image](https://user-images.githubusercontent.com/72851613/187063062-d4265d60-fbb2-4e69-ac8c-e82966951a31.png)

### Additional in

[2022-08-28 14:33] VasuDevrani opened #278 "🎨 FrontEnd - Enhancing website user experience"
### What would you like to share?

Hey there!!
There are a few things that I want to add to improve the UI of the website
- Dark Mode
- Coloring of the footer
- The animations on the Home page keep occurring whenever we scroll through the page as it seems that you've used aos library. They are supposed to happen only once. This needs to be changed

![image](https://user-images.githubusercontent.co

[2022-08-28 16:06] IAmTamal commented on #278
These seems a very good call !

#### I would recommend a few things :
 -  Leave the animations as it is.
 - Make sure the fonts and pictures matches with night-mode

[2022-08-28 16:13] VasuDevrani commented on #278
Thanks for assigning it to me. Will consider your recommendations. Starting right away

[2022-08-28 16:31] IAmTamal commented on #278
Yeah great !

[2022-08-28 16:32] IAmTamal commented on #276
Hey @roei111 , please ask for assignment next time !
Will be looking into the PR !

[2022-08-28 22:00] #276 closed

[2022-08-29 12:37] 4k5h1t commented on #275
Elastic beanstalk might be a good fit as well

[2022-08-29 14:58] IAmTamal commented on #275
Does this have a free tier ?
For emergency, i moved the server to `vercel` !

[2022-08-30 05:30] IAmTamal opened #280 "[DOCS] Tech stack + Broken link"
### Description

### Some changes needed in the README

- The `Technologies used` section looks  like it lacks several of the tech stacks we use, please update them.
- There's a weird and bad-looking gap too between those horizontal lines, do remove those
- Fixes needed for the wrong broken link in the `Useful Links` section

### Screenshots

### Image 1

![image](https://user-images.githubusercon

[2022-08-30 09:34] Dun-sin commented on #280
hi, can i work on this?

[2022-08-30 14:30] IAmTamal commented on #280
Sure, go for it !

[2022-08-31 15:09] IAmTamal opened #282 "Optimize the website 🏮"
### Description

### Unused contents slows down the website !

 - Remove all unused `imports` specially in the `.jsx` files.
 - Remove all unused CSS from the `.css` files.
 - Make sure **nothing breaks** in the process !
 - If some `comments` seems important, leave it there.

### Increase optimization in mobiles

- The website has FCP issues specially for mobile
- You can use tools like : https:/

[2022-09-01 16:08] #280 closed

[2022-09-02 06:16] IAmTamal opened #283 "Accessibility - Page titles 🛠"
### Description

### Missing page titles

 - Alot of pages are missing on the page titles, those needs to be fixed.
 - It willl help improve the accessibility of the site, along with it look more neat.
 - Trying without using any 3rd-party libraries

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-02 06:34] #283 closed

[2022-09-02 07:44] IAmTamal opened #285 "Accessibility - Focus Mangement 🛠"
### Description

 - Using `autofocus` tags in the input forms so that they are autofocused by default
 - This also helps fix some accessibility issues !

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-02 07:46] IAmTamal opened #286 "Accessibility - Keyboard navigation and events"
### Description

 - Adding up stuffs so that most of the web site is easily accessible via Keyboard
 - This also improves acessibility for using a site without mouse, by alot !

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-02 07:50] IAmTamal opened #287 "Accessibility - ARIA fixes 🛠"
### Description

 - Alot of inputs are without any ARIA , they must be fixed
 - These are important stuffs for accessibility

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-04 08:54] IAmTamal opened #289 "Acessibility - Report Modal 🚀"
### Description

### Report modal changes

 - i would like to make it so that we can easily close the report modal in **Desktop/laptops** with the help of `escape` button from the keyboard
 - Donot remove the **X** from the right side either.

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/188305657-17d06bf0-6422-452e-a18f-6096e2e10d3b.png)

### Additional information

[2022-09-04 08:56] #285 closed

[2022-09-04 20:51] roei111 commented on #289
Hey @IAmTamal, I would like to work on this issue! Can you assign it to me? :)

[2022-09-05 19:48] SincerelyBrittany commented on #282
Hi, I am interested in picking this issue up. I can:

Remove all unused imports specially in the .jsx files.
Remove all unused CSS from the .css files.
Make sure nothing breaks in the process !
If some comments seems important, leave it there.

However, I dont have much experience in optimization in mobile or  FCP but I can try my best. Is it possible to split this ticket if I am unable to provide

[2022-09-06 04:51] IAmTamal commented on #282
I'll keep this issue Open, you can work on it, make PR and contribute !

[2022-09-06 14:14] SincerelyBrittany commented on #282
Thank you @IAmTamal !

[2022-09-08 05:26] #289 closed

[2022-09-08 05:26] IAmTamal commented on #278
Hi @VasuDevrani ,  any updates ?

[2022-09-08 05:26] #286 closed

[2022-09-08 05:26] #287 closed

[2022-09-08 18:22] VasuDevrani commented on #278
Oops!! Really sorry.
I got occupied with a couple of hackathons and forgot about this, will complete it by tomorrow if it hasn't been done yet

[2022-09-10 11:10] VasuDevrani commented on #278
Hey!!
Why have you added these unused class names like d-flex, text-white, etc?
I don't find them being used.
Should I remove them?

![image](https://user-images.githubusercontent.com/101383635/189480542-a3db0945-4f9b-435a-8d4c-1e62db35dd7a.png)

[2022-09-10 11:25] VasuDevrani commented on #278
Hey!
Here, I don't think there's any need of hiding the navbar if the user is unauthenticated.
If you want you can hide some of its fields.

<img width="281" alt="image" src="https://user-images.githubusercontent.com/101383635/189480842-3ad27888-06f4-4b85-bdf3-fc28d19a490c.png">

[2022-09-10 12:12] VasuDevrani commented on #278
Sneak peek of dark mode...Alright?

![image](https://user-images.githubusercontent.com/101383635/189482735-44062ae8-aab6-44ca-b6f9-cb56ab66778c.png)

[2022-09-10 12:13] IAmTamal commented on #278
The reason why it was made like that is because, we are having an image background in the home page.
So having a navabar on the home page made it look weird

[2022-09-10 12:23] VasuDevrani commented on #278
I kept it over the banner image, I guess it looks alright now (ignore the blue color of the links)

<img width="945" alt="image" src="https://user-images.githubusercontent.com/101383635/189483178-5faa22ba-65c9-4b93-af2d-2ad24cc4e214.png">

[2022-09-11 06:44] IAmTamal commented on #278
Awesome !

[2022-09-11 07:06] IAmTamal opened #294 "[DOCS] Setup guidelines for Backend"
### Description

As of now there is no **setup guidelines for backend**

- Please add a new file called `BackendSetup.md` in the **rules** directory
- Link it to `Readme.md` too
- Change the `Setup.md` to `FrontendSetup.md` in the **rules** directory

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-13 06:28] vaishnav-sh commented on #294
Hey @IAmTamal, I can take this up. Please assign this issue to me

[2022-09-15 04:48] #294 closed

[2022-09-16 05:24] IAmTamal opened #297 "Accessibility - Changes in Headers"
### Description

 - Take a look at the web app, you'll find that we are using **alot of h1, h2 and so on**
 - Make sure we use it in a proper manner.
 - Like in a div, if there are 2 headers we should have **H1 first, and then H2** , not **H3, then H1 and so on**
 - Make sure the font sizes remains the same, you just need to make changes to the tag !

### Screenshots

## Here's what i am talking a

[2022-09-16 05:36] IAmTamal opened #298 "Accessibility - Button landings"
### Description

## The button takes us diffrent places !

- Currently in the home page, we have 2 buttons.
- One button is for the **users who wants to join the hub** , other for **Clubs, NGOs, Orgs** who wants to join in !
- Currently **the club button** takes us to Login, i want it to take us to **Clubs register**

### Screenshots

## This is the button i am talking about

![image](https://user

[2022-09-16 05:37] #275 closed

[2022-09-16 05:47] 4k5h1t commented on #297
Hey, I think I can take care of this issue. Could you assign it to me ?

[2022-09-16 06:37] IAmTamal commented on #297
Yes this is infact a prep for Hf, i want the web-site to be all good before actually we add alot of features during the event !

[2022-09-16 06:40] IAmTamal opened #299 "🎨 FRONTEND - User Registration page"
### Description

 - Take a look at the page, we have alot of placeholders.
 - Remove the placeholders **only for desktop**
 - Let the `first name` and `last name` stay as it is

### Screenshots

## This is what i was talking about

![image](https://user-images.githubusercontent.com/72851613/190573055-55d97bec-5376-4cce-b3a4-0ca46668de42.png)

### Additional information

_No response_

[2022-09-16 06:44] IAmTamal opened #300 "🎨 FRONTEND - The Navbar Logo"
### Description

 - The navbar logo has an `alt-text` which reads `lol`, you'd  need to change it
 - This is a great issue for beginners !

### Screenshots

## This is the logo :

![image](https://user-images.githubusercontent.com/72851613/190573795-3b3f7278-7d01-412a-8014-6ef83597adad.png)

### Additional information

_No response_

[2022-09-16 06:46] 4k5h1t commented on #297
Awesome, ill get it done then

[2022-09-16 07:11] IAmTamal opened #301 "🎨 FRONTEND -"
### Description

 - Curently the Club register page has all placeholders for desktop
 -  Make sure for **DESKTOPS** - we have just the labels and no placeholders
 - You can follow the design at [User registration Page](https://milaan.vercel.app/user/register)
 - Make sure the styles are similar !

### Screenshots

## This is what i was talking about

![image](https://user-images.githubusercontent.

[2022-09-16 07:33] ishaanbedi commented on #301
Hey! Would love to contribute. Can you please assign this to me>

[2022-09-16 07:40] Kevin11-code commented on #300
What should the 'alt-text' be changed to?

[2022-09-16 07:49] roei111 commented on #299
Hi @IAmTamal, can you assign me?

[2022-09-16 08:00] developer-irfan commented on #301
@IAmTamal i would like to work on this.

[2022-09-16 08:35] IAmTamal commented on #299
Sure, go ahead !

[2022-09-16 08:36] IAmTamal commented on #298
@roei111 , i am assigning this to @developer-irfan , let all get a chance 💚

[2022-09-16 08:37] IAmTamal commented on #301
Sure, go ahead !

[2022-09-16 08:37] IAmTamal commented on #300
It needs to be changed to like : `Milan-logo`

[2022-09-16 09:31] ishaanbedi commented on #301
Hi! I've raised a pr for the same!
Please have a look.

[2022-09-16 09:45] 4k5h1t commented on #297
Btw, just checking a few things, you have just one h2 tag in a bunch of files, do they need to be h1 or was that a design choice ?
Also, in places with h3 then h6, dyou want it to go to h1 and h2, h1 and h3, h3 and h4, or stay the same ?

[2022-09-16 10:54] #301 closed

[2022-09-16 15:07] IAmTamal commented on #297
I want everything to be in an ascending order.
Like if a file is full of h5, make it all h1.

IF a div has h2 h6  make it h1 h2 and so on.

[2022-09-16 15:42] 4k5h1t commented on #297
Ook got it, few remaining then

[2022-09-16 16:16] #299 closed

[2022-09-17 07:26] #300 closed

[2022-09-17 11:07] vivekrawat opened #308 "navbar : current page identification bug"
### Description

currently it is not possible to identify on which page we are on form the navbar.

### Screenshots

_No response_

### Additional information

different background colour can added to the active nav option.

[2022-09-17 11:12] vivekrawat commented on #308
I am working on it

[2022-09-18 10:06] Noelle-San opened #310 "Test issue 1"

[2022-09-18 10:06] IAmTamal commented on #310
<h1>It's great having you contribute to this project</h1> Welcome to the community :nerd_face: :rocket:<p>If you would like to continue contributing to open source and would like to do it with an awesome inclusive community, you should join our <a href="http://discord.eddiehub.org">Discord</a> chat and our <a href="http://github.eddiehub.org">GitHub Organisation</a> - we help and encourage each ot

[2022-09-18 10:14] #310 closed

[2022-09-18 10:22] Noelle-San opened #311 "Test issue - 2"

[2022-09-18 10:22] IAmTamal commented on #311
<h1>It's great having you contribute to Milan !</h1> This is `auto-generated` text<p>The **maintainers/owner** will look into the issue, add relevant tags and assign it to you. Meanwhile feel free to support **star the repo** and **share it** with your friends. :nerd_face: :rocket:</p>

[2022-09-18 10:30] #311 closed

[2022-09-18 10:35] Noelle-San opened #312 "test issue 3"

[2022-09-18 10:35] IAmTamal commented on #312
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-09-18 10:37] #312 closed

[2022-09-20 05:40] #308 closed

[2022-09-20 10:09] Scriptkidd98 opened #313 "Home Page Jumbotron Grammar Correction"
### What would you like to share?

I changed "Continue as an User", which is not grammatically correct, to "Continue as a User", which is
<img width="516" alt="Screenshot 2022-09-20 at 11 07 55" src="https://user-images.githubusercontent.com/43118340/191230935-dce01a53-9fef-4b27-869f-f631685223de.png">

### Additional information

_No response_

[2022-09-20 10:10] IAmTamal commented on #313
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-09-20 14:51] #313 closed

[2022-09-21 04:27] #298 closed

[2022-09-21 09:25] vivekrawat opened #315 "🎨 Frontend - Issue in report Modal in footer"
### Description

when modal is closed or report is submitted the data inside the modal is not cleared.

### Screenshots

![Screenshot from 2022-09-21 14-31-54](https://user-images.githubusercontent.com/42130066/191467891-7548b2d8-3e0a-4dba-8665-fece04452a19.png)
this the screenshot of modal after submission.

### Additional information

_No response_

[2022-09-21 09:25] IAmTamal commented on #315
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-09-23 03:41] #315 closed

[2022-09-24 04:40] minhaj-313 commented on #297
Hi, I want to contribute to your projects, Can you accept my PR, I want to start my journey in Hacktoberfest, you can see my portfolio website as well :[https://minhaj-313.github.io/My-Portfolio-Website/] My Portfolio Website

[2022-09-24 05:20] IAmTamal commented on #297
- You have not created a PR yet
 - I donot need your Portfolio for Hacktoberfest, it's for everyone
 - You can make new issues, if you want to.

[2022-09-27 16:30] krupalitrivedi opened #320 "[DOCS] Readme + License changes 🛠"
### Description

Hello!

I would like to help with the ReadMe documentation for the Milan project by making changes in the ReadMe for grammar and sentence formation as well as would like to brainstorm for anything that can be added that can make the project better along with linking the License in the file as well!

Would enjoy if you can assign this issue to me for hacktoberfest!

Thank you!

###

[2022-09-27 16:30] IAmTamal commented on #320
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-09-27 16:52] IAmTamal commented on #320
@krupalitrivedi , go ahead !

[2022-09-29 06:50] 4k5h1t commented on #278
Anything more to be done here ?

[2022-09-29 08:17] IAmTamal commented on #278
The thing is they have not made a PR. So if not done by 30th, i'll close the issue as not done.

[2022-09-30 11:46] Shivyoddha opened #321 "[FEATURE] <description>Continue Buttons Style Improvement"
### Description

The Continue buttons on the home page of Milan webpage is not styled yet and kept primary so CSS features may be added to it.
`good first issue`

### Screenshots

![image](https://user-images.githubusercontent.com/97729353/193262491-1d09c7ce-51b4-4bc8-a17a-8474892022a9.png)

### Additional information

_No response_

[2022-09-30 11:46] IAmTamal commented on #321
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-09-30 11:47] Shivyoddha commented on #321
Hi @IAmTamal ,
Could you please assign me this issue ?

[2022-09-30 17:56] imyoungsparda opened #322 "Navlinks doesn't change on mouse hover"
### Description

A slight colour in change on hovering the nav links would make it more appealing and attractive.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/193328882-ff2b9c0d-175b-44bd-8177-e2859ce5606c.png)

### Additional information

_No response_

[2022-09-30 17:56] IAmTamal commented on #322
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 03:39] IAmTamal commented on #322
This looks like a good addition, go ahead @imyoungsparda  !

[2022-10-01 03:42] IAmTamal commented on #321
Hi there, the issue won't add any real value/changes. We 'd prefer the button as it is !

[2022-10-01 03:42] #321 closed

[2022-10-01 05:03] NageshMandal opened #324 "[FEATURE] <add dark/light mode button>"
### Description

need to add a dark/light mode button

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 05:04] IAmTamal commented on #324
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 05:06] IAmTamal commented on #324
This seems like a good addition - but the website has **no dark mode** - can you add a dark mode to it ?

[2022-10-01 05:38] IAmTamal opened #326 "Bug : Events page mobile"
### Description

### Changes recommended :

The events page when looked in mobiles has a lot of unused space.
The contents are crammed up vertically, more likely that the div/anything has a padding/margin which is why it is like this.

- Can you make it so that almost the full screen is covered without so much space to the side ?

### Screenshots

![image](https://user-images.githubusercontent.com

[2022-10-01 05:38] IAmTamal commented on #326
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 05:51] IAmTamal opened #327 "[FEATURE] A brand new shop page 🛠"
### Description

### Changes recommended :

- Add a new folder in the **pages folder** name it **shops**
- Add a new folder inside it name it `ShopLanding.jsx`
- Make components for the stuffs you'll add in the Landing page
- Make sure you add `css` files in the **styles folder**

### Resources :

**Follow this design [Figma Shop Design](https://www.figma.com/file/SueBucEpihH1vPaU3iOUn1/Milan-Shop

[2022-10-01 05:52] IAmTamal commented on #327
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 05:52] Alcadeus0 commented on #327
Hi, can i grab this issue :)

[2022-10-01 06:32] NageshMandal commented on #324
Could you please assign this issue to me..

[2022-10-01 06:52] AbhishekTiwari23 commented on #327
I also want to contribute to it, please give me a chance @IAmTamal

[2022-10-01 07:03] ishaanbedi commented on #326
Hi! Can I work on this?

[2022-10-01 07:20] AKACHI-4 commented on #326
Hey I Want to work on this issue can u assign it to me

[2022-10-01 08:02] ManavMalhotra commented on #322
I can do this you can assign this task to me

[2022-10-01 08:10] IAmTamal commented on #322
Someone else is already working on the task as you can see.

[2022-10-01 08:11] IAmTamal commented on #327
@Alcadeus0  - go for it !

[2022-10-01 08:12] IAmTamal commented on #327
This one is assigned to someone else, if they fail to do it- you can contribute to it, take a look at other issues, feel free to raise your own too !

[2022-10-01 08:12] IAmTamal commented on #326
Hi @ishaanbedi , go for it !

[2022-10-01 08:52] AbhishekTiwari23 commented on #327
As I am new to all this, can I start with a basic portfolio page if u consider it good then please allow me.

[2022-10-01 08:55] AbhishekTiwari23 opened #328 "Future event button"
### Description

I want to add a button on the event page. Whenever a user clicks on that, A film will open up and ask for the email and name of the user so that he gets notified for the next upcoming event.

I also like to add a CSS effect on the event card. Whenever a user hovers over, the card gets flipped, and a short description of the event is available, which will become more attractive.

#

[2022-10-01 08:55] IAmTamal commented on #328
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 08:57] AbhishekTiwari23 commented on #328
If u find it relevant, please add it to hacktober fest

[2022-10-01 09:15] MANUSRAO opened #329 "Accessibility : Highlighting errors in contact form"
### Description

- [x] I have read the contributors guidelines .
- [x] I have read the code of conduct.
<hr>
In the contact us page, the toastify notification just mentions "Resolve Errors in the Form", but it doesn't highlight what are the errors in the form.  It would be helpful to the user if we can notify what are the errors in the form.
My approach to the problem:
* We can highlight the form

[2022-10-01 09:15] IAmTamal commented on #329
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 09:16] MANUSRAO commented on #329
If you feel the issue to be worth pursuing, can you please assign me the issue ? Also if possible can you add the hacktoberfest tag?

[2022-10-01 09:20] ishaanbedi commented on #326
Thank you! Working on it.

[2022-10-01 10:09] IAmTamal commented on #329
Go for it !

[2022-10-01 10:24] IAmTamal commented on #328
Hello @AbhishekTiwari23 , the feature you talked about is useful - but i want it to be more customized.
Here's something that you can do :

- We already have `Attend Event` button on each card
- Whenever a user clicks on it, Open a new page

### How to build a new page ?

- Make a new folder in the `pages` folder
- Name the folder as `events`
- Make a new file called `AttendEvent.jsx` which opens

[2022-10-01 10:28] IAmTamal commented on #327
There are other projects with `good first issue` labels too, check them out instead !

[2022-10-01 10:37] Aman-Singh-Kushwaha opened #330 "Making a Contact US section at Footer [OTHER]"
### What would you like to share?

![image](https://user-images.githubusercontent.com/96011814/193405206-b66a1a10-246f-4b0b-8436-c7ec83f166d3.png)
This looks a little weird, should give them a better look

By Taking inspiration from this
![image](https://user-images.githubusercontent.com/96011814/193405473-fc38268d-08a8-40eb-87e0-c49159757d07.png)
Replacing location details with social icons

[2022-10-01 10:37] IAmTamal commented on #330
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-01 11:15] Alcadeus0 commented on #327
Should both the top and bottom part be in ShopLanding or should I make separate components for the two and import them int ShopLanding?

[2022-10-01 13:28] AbhishekTiwari23 commented on #328
I am eager to contribute and will give my best definitely. But I just want to know whether you have any time bonding issues or not because it will take a little time, But I can make sure that I will do my best for this. Hope u don't mind @IAmTamal. What about hacktoberfest tag (just kidding)

[2022-10-01 13:30] AbhishekTiwari23 commented on #328
Please assign me. I am ready with my tools

[2022-10-01 15:41] IAmTamal commented on #330
Hello there, a good spot !
But i'd like some more customization

- Instead of what you thought of adding, make a small button in the footer, beside the socials
- On clicking the buttons re-direct them to the `/contact` path
- Remove the `contact` option from the navbar !

[2022-10-01 15:43] IAmTamal commented on #328
There's no time-bonding as such but try and do it within 3-4 days !

- Make sure the fonts are similar to what we have used
- Make sure the styles are minimal
- Make separate `.css` files and use proper names.

[2022-10-01 16:14] AbhishekTiwari23 commented on #328
This is more than enough. Thanks alot

[2022-10-02 06:02] MANUSRAO commented on #329
Hi @IAmTamal thanks for assigning !! I have fixed the issue with three approaches:
1. Adding a toastify notification for each incorrect input.
2. Adding a  `<p>` element describing the issue in the form. with default toastify warn notification.
3.  Adding both the above effects for the user.
<hr>

## Screenshots:
1. Using first approach:
<img src="https://user-images.githubusercontent.com/67941652

[2022-10-02 06:11] IAmTamal commented on #329
Hello there 👋

I liked the way stuffs works out, however i would recommend something :

## Case 1 :

**If someone fills half/none of the form, then just display `Fill out all the fields before sending`**
![image](https://user-images.githubusercontent.com/72851613/193440518-6925fc92-4fce-421e-be63-31955cba0d52.png)

## Case 2 :

**If someone fills in all the field yet gives an invalid email, tell t

[2022-10-02 06:11] MANUSRAO opened #333 "Two repeated input elements for First Name in the contact us mobile version."
### Description

![WhatsApp Image 2022-10-02 at 11 35 46 AM](https://user-images.githubusercontent.com/67941652/193440461-05aaa289-bbde-405e-8420-e7fe0d42e0fb.jpeg)
You can verify the same by visiting https://milaan.vercel.app/contact from your mobile phone. I can work on this issue.
Can you please assign this issue to me? If you find this relevant can you add hacktoberfest tag?

### Screenshots

[2022-10-02 06:12] IAmTamal commented on #333
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-02 06:16] MANUSRAO commented on #329
Thanks for the speedy reply!! I have few doubts. So we don't need any instructions to be displayed on the page but only through toastify notification?  And also the notification should be condition based on the errors?

[2022-10-02 06:23] IAmTamal commented on #329
Hmm i think providing too much details is not of use, like if i have everything filled, but missed the `last name`  - it'll be still okay to say the user to `Please fill out all the fields`

So we have only 2 conditions  :

- If any field is empty say `Please fill out all the fields` via toast !
- If all fields are filled but email is invalid say `Please provide a correct email`

[2022-10-02 06:34] #322 closed

[2022-10-02 06:45] IAmTamal commented on #333
A great spot !
Feel free to get started with the work.

Also `hacktoberfest` tag doesnot matter on the issue/pr. The repo only needs it 😉

[2022-10-02 06:55] IAmTamal opened #334 "[Backend] A tagline for clubs 🛠"
### Description

So we will be needing a brand new clubs tagline !

## Here's how you can do it

- We already have fields for ` email,
            password,
            name,
            address,
            pincode,
            description` in the backend
- Add a new field **before description** called **tagline** in the `ClubsSchema.js` file
- Make sure we are able to write a sentence during clu

[2022-10-02 06:55] IAmTamal commented on #334
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-02 06:56] warmachine028 commented on #334
I would like to work on this issue

[2022-10-02 07:40] IAmTamal opened #335 "Donate us - auth 🛠"
### Description

## Authentication issue

- Make sure if we are not logged in we shouldnot be able to donate
- When we try to visit the `/donateus` it should say to login first
- You can brainstrom your own design !

### Screenshots

![image](https://user-images.githubusercontent.com/72851613/193443475-c26d7783-2927-4e7e-8a1c-3e20567a1d55.png)

### Additional information

_No response_

[2022-10-02 07:40] IAmTamal commented on #335
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-02 07:40] IAmTamal commented on #334
Sure, go ahead !

[2022-10-02 07:59] MANUSRAO commented on #329
So I have implemented your suggestion. If any detail is missing except the email, then user gets `Please fill out all the fields` warn via toast and if the user fills all details correctly except the email then he gets `Please provide a correct email` warn via toast. So, I have not added any extra code in the page.
<hr>

## Screenshots:
1. User has not entered one or more detail:
![Screenshot 2022

[2022-10-02 08:05] IAmTamal commented on #329
Looks good, do make a PR once ready !

[2022-10-02 08:15] MANUSRAO commented on #329
Cool! Will Make a PR soon!

[2022-10-02 08:52] en1gm479 commented on #335
I would like to conttribute to this issue.
Please assign this to me @IAmTamal

[2022-10-02 10:27] MANUSRAO commented on #333
Hi @IAmTamal I checked around the codebase and found out the `<input>` element is assigned a `class` of `userreg_mob_firstname`  it is used in `UserRegister.jsx` and `ContactUs.jsx` pages. For `UserRegister.jsx` we have given the `<input>` element a styling using the same class `userreg_mob_firstname`. It is hidden in Deskop-width displays and only made visible in Mobile-width displays. But we hav

[2022-10-02 12:49] arpitv970 opened #337 "[DOCS] Enhance Docs & fix the broken links"
### Description

There is room for improving docs, by including some points such as:
- Make sure docs are precise enough for non-coders
- Fix the broken link for Setup Guide at `CONTRIBUTING.md`

I would like to contribute to improving the docs that would help new contributors. It would be great if the maintainer(s) can assign this issue to me for **hacktoberfest**.

Thank you!!

### Screenshots

[2022-10-02 12:50] IAmTamal commented on #337
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-02 15:14] #337 closed

[2022-10-02 15:22] IAmTamal commented on #333
@MANUSRAO

Here's the thing, in desktop we actually want auto-focus for the first name
![image](https://user-images.githubusercontent.com/72851613/193461701-7ef1b46e-27cf-4e75-b6b9-4231f97ef300.png)

But in mobiles we donot want the auto focus, however there's still auto-focus
![image](https://user-images.githubusercontent.com/72851613/193461785-d9aeb983-7ca2-4fa7-8d40-99e5af170532.png)

You can d

[2022-10-02 16:33] codewithrabeeh opened #340 "[README.md] <Some typos in the last line of the README.md file >"
### Description

There's no space between  "Thankyou", which is situated in the last line of the readme file.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 16:33] IAmTamal commented on #340
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-02 18:28] MANUSRAO commented on #333
Thanks for the input! I will get back to you soon.

[2022-10-02 20:47] #320 closed

[2022-10-03 01:12] codewithrabeeh commented on #340
Actually, I intended to do this for Hactoberfest'22. Although you did it. Go ahead!

[2022-10-03 04:07] IAmTamal commented on #340
Hello @codewithrabeeh , @aharna  - i am closing this issue because this is what `hacktoberfest` technically defines as spam. If i add the `spam` label chances are you'd be banned from Hacktoberfest. The word can be written as `Thank you` and `Thankyou` - either way it is the same.

Anyways look for other issues to contribute.
Star the repo to get quick updates.

Regards,
Tamal

[2022-10-03 04:07] #340 closed

[2022-10-03 04:12] #334 closed

[2022-10-03 04:31] codewithrabeeh commented on #340
Oh, sorry. My mistake.

[2022-10-03 04:58] harshit0571 opened #343 "[FEATURE] Dockerize the project"
### Description

Hey!
it would be great if the repo is containerized using docker.
this would make the project easier to setup.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 04:59] IAmTamal commented on #343
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 05:26] adi-uchiha commented on #324
I see that the PR by @NageshMandal have some issues and he is not responding. Can I work on this?

[2022-10-03 05:31] IAmTamal commented on #324
Generally i'd wait for 2 more days !
Star the repo, wait for 2 more days, if there's no response i'll close their PR and then you can work on it🚀

[2022-10-03 05:34] IAmTamal commented on #335
@en1gm479 , go for it !

[2022-10-03 05:36] IAmTamal commented on #343
Hello @harshit0571 , you think you can make it ?

If yes, go for it. In the PR make sure provide screenshots that you are able to set it up with Docker

[2022-10-03 05:37] IAmTamal commented on #343
In the PR make sure provide screenshots that you are able to set it up with Docker

[2022-10-03 07:01] RishitaGangwal opened #344 "Not Added Copyright notice at the bottom of the website"
### Description

A website — graphics, content, visual elements — is copyrighted at the time of development. So putting the copyright notice on the bottom of a site states that the material displayed is not to be used without permission of the owner. I would like to add copyright notice at the bottom of a site.

Hey, @IAmTamal Please assign me with this issue.

Thanks!

### Screenshots

_No respon

[2022-10-03 07:01] IAmTamal commented on #344
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 07:15] RishitaGangwal opened #345 "Feature: Adding Text Area Instead Of Text Fields In Address Section"
### Description

![address](https://user-images.githubusercontent.com/88449534/193520078-2b6438e0-5e98-469c-8add-cc5b54b02d00.jpeg)

The Address section must be a "text area" instead of a text field. And also its a tradition of mentioning Address in Text Area so that users can specify their address more accurately.

Hey, @IAmTamal Please assign me with this issue.

Thanks!

### Screenshots

_No re

[2022-10-03 07:15] IAmTamal commented on #345
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 07:30] harshit0571 commented on #343
yes i can do it

[2022-10-03 07:31] harshit0571 commented on #343
please tell me node version you are using
use `node -v`

[2022-10-03 08:24] DhruvRathi2001 opened #346 "Links not Working"
### Description

Here the links to Twitter and Facebook are not Working and are redirecting us to the same page.

![links](https://user-images.githubusercontent.com/94394117/193532367-8422f8b2-c9d3-4fe9-9697-2e64a9732e60.png)

Hey @IAmTamal  can you please assign this issue to me, I would love to fix it for HACKTOBERFEST.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 08:24] IAmTamal commented on #346
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 09:27] IAmTamal commented on #343
v16.17.0

[2022-10-03 09:32] IAmTamal commented on #346
A good issue , i want you do the following changes in that case  :

 - Link Twitter to https://twitter.com/mrTamall
 - Remove Facebook and GitHub which links to this repo
 - Change their colors to `#9ac2fe`

[2022-10-03 12:10] MANUSRAO commented on #329
Hi @IAmTamal what extra changes do I need to make in my PR?

[2022-10-03 12:17] Himanshi2511 commented on #346
Hey @IAmTamal  can you assign to me also?

[2022-10-03 12:22] AbhishekTiwari23 commented on #328
Hello @IAmTamal, I started working on the issue, but I found that Hacktoberfesttag is missing in this issue. I request you to please put it there.

[2022-10-03 12:33] DhruvRathi2001 commented on #346
@Himanshi2511 can u please find some other issues  I have already made corrections and sent PR

[2022-10-03 13:01] DhruvRathi2001 opened #350 "Dates are not Mentioned"
### Description

In the Event Section , the Time for 'HOLA PETS' event is not mentioned which can confuse users is to when to attend event since there is one more event at same place like - one is at 11a.m

### Screenshots

Time is not mentioned for 'HOLA PETS' event :

![milan_time](https://user-images.githubusercontent.com/94394117/193582266-49e5c0fb-870a-46b6-af7f-b9713f1884ca.png)

Hey @IAmTam

[2022-10-03 13:01] IAmTamal commented on #350
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 14:13] harshit0571 opened #351 "[DOCS] Add Docker setup instruction in the readme file"
### Description

i think we can can add both setup with docker in it.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 14:13] IAmTamal commented on #328
Hello @AbhishekTiwari23 , you donot need `Hacktoberfest` tag in issues. You need it only in PR / Repo topics.
Anyways just for the sake of putting it, i'll add it.

[2022-10-03 14:18] warmachine028 opened #352 "[Frontend] A tagline for clubs 🏷️"
### Description

- As you mentioned in #334 that there must be a tagLine field for Clubs
- That was successfully implemented in backend but it must also be implemented in the frontEnd.
- There must be an input field along with other input fields to input the tagLine for Clubs.
- I would like to take up this issue under hacktoberfest

### Screenshots

![club input](https://user-images.githubusercon

[2022-10-03 14:18] IAmTamal commented on #352
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 14:26] warmachine028 commented on #352
Great Idea! Will keep that in mind

[2022-10-03 15:08] IAmTamal commented on #351
Looks like a good point.

 - Make a new file inside the `rules` folder
 - Make sure you Write about it in **extreme details**
 - Make sure you add link to that file in the readme as `🛠 SETTING UP THE APP WITH DOCKER`

[2022-10-03 15:15] harshit0571 commented on #351
sure

[2022-10-03 15:28] warmachine028 commented on #352
- Shold the input field be a text Area or just a normal 1 Line input, confused because of the word TagLine, but also 180 characters is 4 Lines.

![club input](https://user-images.githubusercontent.com/75939390/193616343-1983d1ff-95b2-4ad5-81b1-0394085da533.png)

[2022-10-03 16:56] DhruvRathi2001 commented on #350
@IAmTamal  The one who have registered can create his/her own event and mention the time, date etc.
So actually it is not in my hands to  fix it.

[2022-10-03 17:12] #329 closed

[2022-10-03 17:25] snehafarkya opened #354 "Add footer to every page, also there is a bug in contact page"
Hey! I would like to add footer on every page for better user experience. Also, there is a bug in contact us page where **first name** field is repeated.

Here is the screenshot 👇
![Screenshot_20221003-224831~2](https://user-images.githubusercontent.com/63949465/193640109-ee35cdc0-5471-41cd-b1b5-b7155f051eaa.png)

Assign this issue to me @IAmTamal  under hactobesfest

[2022-10-03 17:25] IAmTamal commented on #354
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-03 17:29] #278 closed

[2022-10-03 17:29] #282 closed

[2022-10-03 17:45] #343 closed

[2022-10-03 17:46] #351 closed

[2022-10-03 17:49] IAmTamal commented on #352
Hmm, we can make it like 50 characters then, like someone would say " A Club where gaming unites people"

- The placement is correct
- Add brackets beside the label which says ( Limit : 50 characters)

[2022-10-03 18:04] Himanshi2511 commented on #354
Hey @IAmTamal can you assign this to me?

[2022-10-03 18:07] IAmTamal commented on #350
Hmm so what we can do is , after logging in as a club we visit `/clubs/createevent` and in there we have a field which says `When will the event take place`

- Let us remove that field and add 2 other fields instead !
- One which says `Date of the event`
- Another which says `Time of the event (24 Hours format, IST)`
- Make sure the values are getting stored in Usestate and are ready to go to Back

[2022-10-03 18:10] IAmTamal commented on #354
@snehafarkya No  need to fix the bug for contact page, someone else is already working on that.

[2022-10-03 18:26] #333 closed

[2022-10-03 18:52] #346 closed

[2022-10-04 03:51] #354 closed

[2022-10-04 04:01] #350 closed

[2022-10-04 04:06] #352 closed

[2022-10-04 04:51] DhruvRathi2001 opened #360 "Hover Feature to Report Button"
### Description

Report Button does not have any hover feature which actually makes it quite simple.
And since its a 'REPORT BUTTON' , it should definitely have some good hover feature which makes USER INTERFACE more Standard and Attractive.

### Screenshots

This Report Button does not have any Hover Feature :

![milan_hover](https://user-images.githubusercontent.com/94394117/193736769-1c1d660d-d

[2022-10-04 04:51] IAmTamal commented on #360
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-04 06:06] MANUSRAO opened #361 "Adding Sample Event in Display Events Page"
### Description

At present the Event's page does not have a sample card showing correct details, instead sample events have random text. We can instead showcase a sample card with correct formatting.

### Screenshots

![Screenshot 2022-10-04 113613](https://user-images.githubusercontent.com/67941652/193746420-5b18520e-8306-4ed1-8b30-f9a05889ad53.png)

### Additional information

_No response_

[2022-10-04 06:07] IAmTamal commented on #361
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-04 06:18] MANUSRAO opened #362 "Footer Links don't work in certain pages."
### Description

When we are in [Club Page](https://milaan.vercel.app/display/clubs) , [Events Page](https://milaan.vercel.app/display/events), [About Us Page](https://milaan.vercel.app/about-us) and [Contact Page](https://milaan.vercel.app/contact), the footer links to Login and Register do not work. It's due to `href` being assigned wrong relative paths. And also both `login` and `register` poin

[2022-10-04 06:18] IAmTamal commented on #362
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-04 07:07] IAmTamal commented on #360
Go for it @DhruvRathi2001

 - Remove the red border from the report button and color the button with `#9ac2fe`
 - Make sure the hover looks good !
 - Further changes would be suggested after PR !

[2022-10-04 07:14] IAmTamal commented on #361
Hello @MANUSRAO  - The events card are fetched from the Database directly.
There is no purpose of showing a sample event, because only the real events will be shown and users can then attend !

**We will moderate the Database so that events with bad data are not shown !**

[2022-10-04 07:15] #361 closed

[2022-10-04 07:25] IAmTamal commented on #362
@MANUSRAO go for it

- Change it so that both of the Login and Register points to User Login and Register

[2022-10-04 08:37] MANUSRAO commented on #330
Hi @IAmTamal since @Aman-Singh-Kushwaha has not replied in 3 days, can you assign this issue to me, I can work on it.

[2022-10-04 08:38] Alcadeus0 commented on #327
should the navbar be included in the page?

[2022-10-04 08:43] Aman-Singh-Kushwaha commented on #330
Go for it @MANUSRAO

[2022-10-04 08:48] IAmTamal commented on #327
Yes

[2022-10-04 09:42] omagr commented on #330
@Aman-Singh-Kushwaha can i work on it as well? ig you assign it to mansurao?

[2022-10-04 10:01] MANUSRAO commented on #330
@omagr I have already started working on this issue.

[2022-10-04 10:31] arpitv970 opened #366 "[FEATURE] Improvement in Footer"
### Description

There is much room for improvement in Footer but I found some of the following:
- Improve the `Report` button CSS
- Need to increase the size of social link icons for better visibility

### Screenshots

![improve-footer](https://user-images.githubusercontent.com/73063553/193796756-cd2ad65d-6908-4b46-bb1b-efded4f3633e.png)

### Additional information

It would be great if there is

[2022-10-04 10:32] IAmTamal commented on #366
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-04 10:55] Alcadeus0 commented on #327
should the star rating also be stored as props called from a data.js file or should i render all 4 of them as a single image?

[2022-10-04 12:46] snehafarkya opened #368 "Adding Navbar on home page"
Hey! I think there must be a navigation bar on home page so that user will get an idea of other components of your website. It will enhance the User experience.

Kindly assign this issue to me @IAmTamal  under the `Hactobesfest` label

[2022-10-04 12:46] IAmTamal commented on #368
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-04 13:46] aakashraj01 opened #369 "Hover Feature on Explore & Share Buttons"
### Description

While going through the UI of website , I found that few buttons like 'Explore' and 'Share you Love' is lacking with hover effect.
I want to work on this bug and want to fix it under Hacktoberfest'2022 label.

Please assign me this issue !!

### Screenshots

![image](https://user-images.githubusercontent.com/79682170/193835968-040c990b-c348-440e-8396-74f62acd797d.png)
![image](htt

[2022-10-04 13:47] IAmTamal commented on #369
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-04 13:48] aakashraj01 commented on #369
@IAmTamal Please assign me this issue :)

[2022-10-04 17:54] AdarshBajpai67 opened #370 "Registration page , name input accepts empty spaces (" ")"
### Description

The registration page is accepting empty spaces as input, and logging us in with empty name, address etc.

### Screenshots

<img width="960" alt="image" src="https://user-images.githubusercontent.com/95476086/193891164-b14be5e6-ee0c-4fa1-ac5f-8d73b9a76362.png">

### Additional information

I would like to work on this issue, please assign this to me

[2022-10-04 17:54] IAmTamal commented on #370
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 05:00] #362 closed

[2022-10-05 05:03] #360 closed

[2022-10-05 05:07] IAmTamal commented on #366
A great spot, however we already have a new Report button looks.
Social link size will be increased in another issue where we are adding contact link !

Thanks for raising the issue, but closing it since someone else is already working on it !

[2022-10-05 05:07] #366 closed

[2022-10-05 05:09] IAmTamal commented on #327
For cards you can manually just add 4 cards in a flexbox in a different component. And render that component in the products page.

Since we have no backend for it now, we will handle dynamic cards LATER ON.

[2022-10-05 05:11] IAmTamal commented on #368
Hi @snehafarkya , go for it !

- Make sure the navbar is transparent for the homepage and lies **on top of the image** not **above it**
- Make sure it looks good on mobiles as well
- You donot need `Hacktoberfest` Label on issues. But just for the sake of mental peace i'll give you one

[2022-10-05 05:17] #345 closed

[2022-10-05 05:22] RishitaGangwal commented on #345
Thankyou!

On Wed, 5 Oct 2022 at 10:47, Tamal Das ***@***.***> wrote:

[2022-10-05 05:23] IAmTamal commented on #369
A good spot,

- Take a look at `/contact` page, and the hover we have in the `Just send` button
- Apply the same type of hover in the other buttons too !

[2022-10-05 05:30] IAmTamal commented on #370
A good spot , make sure the following changes are occuring !
- If any field is empty and you click on register the toast should say `Please fill all the fields`

[2022-10-05 05:31] #368 closed

[2022-10-05 05:47] snehafarkya opened #372 "Add Navbar on Home page"
### Description

Hey! I think it would be much easier to navigate if you have a navbar on the home page. I would like to do this. Kindly assign me this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/63949465/193989993-709639a7-9324-45b5-9cc2-f80e954fa981.png)

### Additional information

_No response_

[2022-10-05 05:50] IAmTamal commented on #372
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 06:09] RishitaGangwal commented on #345
Thankyou so much ❤️

[2022-10-05 06:17] MANUSRAO commented on #330
@IAmTamal I have added a button at the footer for contact. I have attached the screenshot please mention any changes required.
![Screenshot 2022-10-05 114529](https://user-images.githubusercontent.com/67941652/193993788-ae466439-01ac-4276-b9d2-64b5a303e386.png)

[2022-10-05 06:44] IAmTamal commented on #372
Go ahead @snehafarkya
 - Make sure the navbar is transparent and sits on **top of the image** not **above it**
 - Make sure the navbar works and looks good in mobiles

[2022-10-05 06:47] IAmTamal commented on #330
Let's make a PR that way i can visit the site and cheeck out the changes !

[2022-10-05 07:34] MANUSRAO commented on #330
Hi @IAmTamal I have made a PR, please review and give any feedback if changes are required.

[2022-10-05 11:20] Chinmay-03 opened #375 "[Adding minimal Contact form]"
### Description

### description

- I would like to add a minimalist design contact form at the footer of the home page
- although the contact form is there in the header menu a small at footer may be useful

@IAmTamal

I would like to work on this
please assign it to me

### Screenshots

### current
![image](https://user-images.githubusercontent.com/102941004/194048766-6cd337d4-947a-46c5-b76a-f95

[2022-10-05 11:20] IAmTamal commented on #375
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 11:33] sumitkr2000 opened #376 "Improving footer of the website"
### Description

Hey @IAmTamal , The footer of website is not matching with the theme, I want to improve its styling and add some hover effect on buttons so that it matches the theme of the whole website. Can you please assign me this issue so that I can work on it. Thank you!

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 11:33] IAmTamal commented on #376
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 11:45] kirtanchandak commented on #372
hey @snehafarkya are you working on this ?

[2022-10-05 12:12] snehafarkya commented on #372
Hii @kirtanchandak ! Yeah I'm working on it.

[2022-10-05 13:41] arpitv970 opened #377 "Missing `rel=”noopener noreferrer”` attribute for external link"
### Description

- Leaving `target=”_blank”` alone in for the external link(s) is not a safe practice, as this vulnerability may cause a common phishing attack such as **tabnabbing**. Therefore using `noopener` in the _rel_ attribute.
- `noreferrer` keeps external sites from knowing that you have included links to their material on your website.

### Screenshots

The external links are only used a

[2022-10-05 13:41] IAmTamal commented on #377
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 14:48] IAmTamal commented on #375
Hi @Chinmay-03 , we already have someone working on a contact us button which takes us to a new page. The button is accessible via footer plus we already have stuffs in the navbar.

Thanks for raising the issue, however this is not us much use.
Thanks a tonn !

[2022-10-05 14:48] #375 closed

[2022-10-05 14:49] IAmTamal commented on #376
Hi @sumitkr2000 , the footer has a perfect color contrast + it already has hover effect for the report button.
What else do you want to change ?

[2022-10-05 14:50] Chinmay-03 commented on #375
@IAmTamal assign me another task which i can contribute to

[2022-10-05 14:58] DhruvRathi2001 opened #378 "Some Minor changes in 'LoggedIn' Toast."
### Description

Here are few changes that I think can be made :

- First of all the time it takes to log in is a bit more, which can be reduced by few milliseconds.
- Instead of 'Logged In' , It should show 'Logging In'.
- There is a feature that is just by clicking on that toast we are able to LogIn , that should be removed and so the user should wait untill the bar ends  which makes it more Aut

[2022-10-05 15:03] IAmTamal commented on #376
It's not about trust haha. I don't want to waste your time working on something which might not be good. Anyways yes, make a PR, we can always close the PR later if not good.

[2022-10-05 15:17] IAmTamal commented on #378
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 16:47] #330 closed

[2022-10-05 16:50] adi-uchiha opened #380 "bug: labels and placeholder missing in update user page"
### Description

The update user page is bland. User can't understand what they are actually updating. I don't know update profile feature works or not. But I can work on it. And apply relevant labels to inputs

### Screenshots

![Screenshot_2022-10-05-22-16-58-245_com android chrome](https://user-images.githubusercontent.com/103348863/194116785-b554bd70-5c67-44f6-ada5-06f81987de05.jpg)

### Addit

[2022-10-05 19:07] #326 closed

[2022-10-05 19:08] IAmTamal opened #382 "Bug : Events page mobile"
### Description

### Changes recommended :

The events page when looked in mobiles has a lot of unused space.
The contents are crammed up vertically, more likely that the div/anything has a padding/margin which is why it is like this.

- Can you make it so that almost the full screen is covered without so much space to the side ?

### Screenshots

![image](https://user-images.githubusercontent.com

[2022-10-05 19:08] IAmTamal commented on #382
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-05 19:11] IAmTamal commented on #335
@en1gm479 Any updates ?
Make sure you do it within next 1-2 days **at max**

[2022-10-05 19:11] #344 closed

[2022-10-05 19:17] IAmTamal commented on #380
A good spot - work on it !
Make sure you add placeholders only for mobiles !

[2022-10-05 19:28] DhruvRathi2001 commented on #378
@IAmTamal  Sure, I will make above 2 points changes and about your third point,  currently the feature is yes you will be loggedIn  even if you click on Home.
So what you want me to do about third point?

[2022-10-05 19:31] aakashraj01 commented on #369
Hey @IAmTamal . I have added my work i.e the hover feature on Share and Explore buttons on the home page. I also saw more buttons where hover effect is not added and found that most of the other button is looking correct.
Please merge my work in the project under hacktoberfest-accepted label :)

[2022-10-05 19:32] IAmTamal commented on #378
Yeah let the third point stay - no one would want to get their login cancelled if they just clicked another page (by mistake)
Rest all looks fine !

[2022-10-05 19:54] DhruvRathi2001 commented on #378
@IAmTamal  and what about the 2nd and 3rd points which I mentioned should I consider them or just 2 points which you told?

[2022-10-05 20:18] DhruvRathi2001 commented on #378
Sure

[2022-10-05 23:36] iakgoog commented on #382
Could you please assign this to me?

[2022-10-06 06:32] AdarshBajpai67 commented on #370
Yeah sure, I will look into it ,

Thanks

[2022-10-06 07:15] #369 closed

[2022-10-06 07:18] #382 closed

[2022-10-06 10:48] tarunfy opened #389 "Minor UI fixes"
### Description

Hey, I was going through the project and I found some places where there's a need to work on the UI
<img width="1440" alt="Screenshot 2022-10-06 at 4 11 40 PM" src="https://user-images.githubusercontent.com/51208270/194293332-88e2bbb5-1ebe-487e-83db-7bb0ea8e586f.png">

in the above screenshot, I can see some weird styling has been given to the scrollbar for no reason and the image

[2022-10-06 12:34] sho-shoaib opened #390 "I can make the home screen better"
### Description

I can see that there is a lot of empty space on the home screen and it looks kinda unprofessional. I can add background clipping, and padding and properly place the text

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

[2022-10-06 12:34] IAmTamal commented on #390
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-06 13:12] #390 closed

[2022-10-06 14:52] #376 closed

[2022-10-06 17:37] nishtha53 opened #396 "Forgot password page design"
### Description

I can design forgot password page please assignment currently on clicking nothing its working.

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read the [

[2022-10-06 17:37] IAmTamal commented on #396
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-06 17:40] nishtha53 opened #397 "Login page design different"
### Description

- While continue as login as club, Login page design is different to register page.
- In login page purple color is used but blue color should be used.

### Screenshots

![image](https://user-images.githubusercontent.com/68805896/194381867-8e85fffc-efce-4f71-a8a4-d991e5a4fcea.png)

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if t

[2022-10-06 17:40] IAmTamal commented on #397
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-06 18:15] #378 closed

[2022-10-06 20:46] en1gm479 commented on #335
Sorry @IAmTamal I'm not able to contribute as I'm stuck somewhere else. Please re-assign it to someone.

[2022-10-06 20:53] arpitv970 opened #398 "Misalignment of Social Icons"
### Description

- On inspecting the CSS of `social-btn` I found that icons are being tried to keep at the center by using some hardcoded values
-  This would lead to an issue when clients with different screen dimensions may get to see the misaligned icons

### Screenshots

The above problem I mentioned, occurred with my system

### Additional information

Instead of simply hardcoding the positio

[2022-10-06 20:54] IAmTamal commented on #398
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-06 20:57] IAmTamal commented on #396
Hi @nishtha53 , what is the design that you have in mind ?

[2022-10-06 20:59] IAmTamal commented on #397
A good spot , make the following changes too :

- Change the text `Log in` to `Log in with your club`
- Make the color of Register button, purple (as in Login)

[2022-10-06 21:02] IAmTamal commented on #398
A good spot, do fix the bug !

[2022-10-07 03:01] nishtha53 commented on #397
okay sure will solve by EOD.

[2022-10-07 03:04] nishtha53 commented on #396
Hi,

Layout will be same there will be one good illustration related to forgot password in left side.
In right side, Heading of forgot password,there will be one input field asking for mail and one forgot password button.

[2022-10-07 03:38] chankruze commented on #396
@nishtha53 next time someone ask you about what's on your mind, please try to present them at least a sketch with pen and paper. It will be even better if you can link some Figma/AdobeXD designs.

[2022-10-07 04:32] nishtha53 commented on #396
@chankruze okay sure thankyou for advice.

[2022-10-07 04:50] rohitroy-github commented on #335
Hey @IAmTamal | I wanna try this out. Can it be assigned to me ?

[2022-10-07 05:03] rohitroy-github commented on #335
@IAmTamal | I have made a PR. Have a check at your end once.

[2022-10-07 06:08] IAmTamal commented on #396
Exactly.
Anyways @nishtha53 , feel free to come up with your design and make a PR - we will refactor them then !

[2022-10-07 11:38] nishtha53 commented on #397
@IAmTamal I have raised PR. Please check

[2022-10-07 11:45] AdarshBajpai67 commented on #370
Hey @IAmTamal, now the conflicts are resolved.

Thanks 👍

[2022-10-07 12:00] wickedwisdom0911 opened #404 "[DOCS] <description>"
### Description

There's a typo in README.md file under "Why the name Milan?" section, "It is often seen that people get scammed when their intentions are *in liue they* were just trying to do good for other people"
Could be a great typo bug for me to get stated with Hacktoberfest '22, happy coding.

### Screenshots

![image](https://user-images.githubusercontent.com/78411069/194548074-3e983662-5c

[2022-10-07 12:00] IAmTamal commented on #404
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-07 13:34] adithgit opened #405 "Toast after registering."
### Description

A toast appears after creating a new account  with "Logging you in'" as the text inside. The text inside should be somewhat like "Registering" or the user should be navigated to the home page instead of login page.

### Screenshots

![login-bug](https://user-images.githubusercontent.com/88667329/194565389-7b40254b-b7d6-49b9-8b38-856d13449d59.png)

### Additional information

Two s

[2022-10-07 13:34] IAmTamal commented on #405
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-07 13:46] adithgit opened #406 "Join us part still shown after logging in."
### Description

The join us part with login and register option is still shown to user which is already logged in. This should not happen,

### Screenshots

![Screenshot from 2022-10-07 19-12-43](https://user-images.githubusercontent.com/88667329/194568518-691ecb21-5b2a-4205-985c-740f3462406f.png)

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked i

[2022-10-07 13:47] IAmTamal commented on #406
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-07 14:22] #389 closed

[2022-10-07 14:22] #398 closed

[2022-10-07 14:51] IAmTamal commented on #405
I was just about to raise this issue and i saw yours haha.

- Make sure it says `Registered your account !`
- After that navigate to login page as usual
- Make sure it is applicable for both clubs and users

[2022-10-07 14:53] IAmTamal commented on #404
Go ahead !
Make sure you fix all the typo bugs you come across in the file !

[2022-10-07 14:53] adithgit commented on #406
What's the purpose of showing it when the user's already logged in? My suggestion is to hide it.

[2022-10-07 14:57] IAmTamal commented on #406
We would not want an empty space in our footer right ?

- So why not utilize the space we have !
- Instead of **Join us** make it **Explore !**
- Login, Register can be changed with **Events, Shop**

[2022-10-07 14:59] adithgit commented on #406
That's a good idea. Let's go ahead with it.

[2022-10-07 15:36] yung-coder opened #407 "Home Page buttons are not responsive"
### Description

Home page buttons are not responsive

### Screenshots

![Screenshot from 2022-10-07 21-00-59](https://user-images.githubusercontent.com/94097778/194592166-ffbbe532-9d98-4a6c-af0a-f0cd9c1f2a4e.png)

### Additional information

Text in buttons is getting wrapped  i think it can be repaired by giving some padding

I would like to work on this

### 🥦 Browser

Mozilla Firefox

### 👀 Ha

[2022-10-07 15:36] IAmTamal commented on #407
<h1>It's great having you contribute to Milan !</h1> This is an <b>auto-generated</b> text<p>The <b>maintainers/owner</b> will look into the issue soon, add relevant tags and proceed further, please have paitence. Meanwhile feel free to support <b>star the repo</b> and <b>share it</b> with your friends. :nerd_face: :rocket:</p>

[2022-10-07 15:40] utkarsh2709 commented on #407
Hello @IAmTamal, Pls assign this issue to me. I have worked extensively on responsiveness.

[2022-10-07 16:31] IAmTamal commented on #407
Hello @utkarsh2709 , there might be alot of changes related to responsiveness - please go through the website and create another issue !

@yung-coder A good spot, this should not been happening.
We checked last time, for mobiles it looks like this, even for the smallest size
![image](https://user-images.githubusercontent.com/72851613/194602838-5281d5ce-91a9-42e6-94d4-35fe19f4bc8f.png)

Make sure y

[2022-10-07 17:16] nishtha53 commented on #397
![image](https://user-images.githubusercontent.com/68805896/194613557-c5672dd8-afd9-4051-925f-1c8ce7dee4cf.png)
![image](https://user-images.githubusercontent.com/68805896/194613651-519616fa-eb69-451e-b06e-4a465084a3d6.png)
![image](https://user-images.githubusercontent.com/68805896/194613732-8cda52a6-da06-4576-809a-c3ae32fdda7c.png)
![image](https://user-images.githubusercontent.com/68805896/1946

[2022-10-08 03:35] #397 closed

[2022-10-08 03:42] wickedwisdom0911 commented on #404
Thank you for your response. Will get to it

On Fri, Oct 7, 2022, 8:23 PM Tamal Das ***@***.***> wrote:

[2022-10-08 03:43] #407 closed

[2022-10-08 03:43] IAmTamal commented on #328
@AbhishekTiwari23 Any updates ?
It's been a long time.

[2022-10-08 03:47] IAmTamal commented on #372
Hi @snehafarkya , any updates on the issue ?
Please make PR within the next one day if possible.

[2022-10-08 06:18] kalashvasaniya opened #413 "Making front page buttons more attractive"
### Description

Make button more attractive!

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Safari

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read the [Contributing Guidelines](https://github.com/IAmTamal/Milan/blob/main/CONT

[2022-10-08 06:20] najeebkp commented on #413
Hi @kalashvasaniya  please assign this to me

[2022-10-08 06:20] JatinSingh08 commented on #413
Hey @kalashvasaniya , Can you please assign this to me

[2022-10-08 06:34] AbhishekTiwari23 commented on #328
Hello @IAmTamal, Actually, before jumping over your project, I started learning to react, I am thankful for this project which makes my understanding of react.js clear.
Current status - made the "attend event" button responsive (means now whenever a user clicks on it , he will be landed to a new page).
              - Added Attendevent page in the page folder,
              - Added header of this

[2022-10-08 06:36] rohitroy-github commented on #413
I can apply some gradients onto it. If that's okay, assign it to me.

[2022-10-08 07:53] IAmTamal commented on #413
@kalashvasaniya  - you need to tell more about what design changhes you'd like to do

[2022-10-08 07:55] IAmTamal commented on #328
Yeah just wanted a head's up - since this is a feature we wouldn't wait too long !
Take your time but please try and do the mentioned stuffs within the next 2-3 days 🚀

[2022-10-08 08:34] stereogon opened #415 ""Remember Me" Check Label Font Family does not Match with the entire design"
### Description

Looks Like the Remember Me Check Label's font family does not match with that of the entire project. The Font Family got overwritten by another font family called "Alike Angular". If this was the intended styling then its all good and this isn't even an issue then. Otherwise, I have made the required changes and i am willing to make a PR.

I am attaching a Screenshot of for your r

[2022-10-08 09:23] yung-coder opened #418 "Shops page lacks responsiveness"
### Description

Shop page  lacks responsiveness  it overflows on mobile devices.

### Screenshots

![Milan-2](https://user-images.githubusercontent.com/94097778/194700214-ce3d0aa8-1ac8-4f13-a2a7-f2d8a91591b6.png)

### Additional information

I would like to make it responsive by making some changes in css.

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this issue has been raised befor

[2022-10-08 10:17] arpitv970 opened #419 "[FEATURE] Add shadow transition effect to cards on hovering"
### Description

The `clubCard` already has box shadow, but it would be great to add a shadow transition effect by hovering over it to make it more interactive

### Screenshots

No interaction while hovering on it

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

###

[2022-10-08 10:25] SiddhiKhade commented on #419
Hi, i would really appreciate it if you assigned this issue to me, thanks!

[2022-10-08 10:27] SiddhiKhade commented on #413
Hi, i would really appreciate it if you assigned this issue to me, thanks!

[2022-10-08 10:42] stereogon opened #420 "[OTHER] Club and User Login Page Form UI Improvements"
### What would you like to share?

# Club and User Login Page

1. inconsistent on Mobile and large screen view.
2. Unnecessary Centering of elements.
3. Login Button Size Reduction
4. Remember Me Label Font Family
5. Left and Right Padding in Form element in the Mobile View

I have done some changes in the code so that these issues are resolved. I am opening a PR.

### Additional information

![im

[2022-10-08 10:51] kirtanchandak commented on #415
Can I work on this issue ?

[2022-10-08 10:54] stereogon commented on #415
I have Taken care of this issue in a new UI Improvement, that is why i am closing this issue.

[2022-10-08 10:54] #415 closed

[2022-10-08 11:13] smrkarkii opened #422 "UI changes"
### Description

Following changes seem to be done. Please assign it to me under hacktober fest. Thank you.
UI changes
1. While we are in Shop section, it doesn't show a line under it like in other sections. I have attatched screenshots.
2. No navbar or any buttons to move to another sections in home page before logging in.
3. Forgot Password link doesn't work.
4. When we switch between sections,

[2022-10-08 11:17] Chaitanya-087 commented on #418
hi! can i work on this

[2022-10-08 11:35] Rohan-Hazari opened #423 "A button to navigate to the Top of the page"
### Description

The Home page can use a back to the top button to navigate back to the top
Extra : The button only appears when u scroll down to a certain point of the page and not at the start of the page itself so as to keep the image part clean
Please assign me this issue

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Microsoft Edge

### 👀 Have you c

[2022-10-08 12:04] IRSHIT033 commented on #423
can I work on this

[2022-10-08 12:24] nishtha53 commented on #396
@IAmTamal PR Raised. Please let me know if need any layout changes.

[2022-10-08 12:32] JatinSingh08 commented on #423
Hey @Rohan-Hazari , Please assign this issue to me.

[2022-10-08 12:36] Rohan-Hazari commented on #423
I cant assign an issue as I am a contributor as well

[2022-10-08 12:37] kalashvasaniya commented on #413
Making button more attractive & improving hover effect & many more small changes

[2022-10-08 12:40] JulianaSau opened #425 "Add loader when data is being fetched from server"
### Description

When Opening the events and clubs page, the data take a bit of time to display. Within this time, there is no indication of whether the data is loading or not. I'd like to implement a loader to show that the data is fetching and will be available in a short while

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Microsoft Edge

### 👀 Have y

[2022-10-08 12:42] Satakshijain commented on #418
Hi , I would like to contribute to this . Please assign this issue to me

[2022-10-08 12:43] Satakshijain commented on #413
Hi , I would like to contribute to this . Please assign this issue to me

[2022-10-08 12:43] Satakshijain commented on #422
Hi , I would like to contribute to this . Please assign this issue to me

[2022-10-08 14:52] IAmTamal commented on #423
@Rohan-Hazari go for it

- Make it clean and minimal
- Make sure you make it only for the Landing page.

[2022-10-08 14:53] IAmTamal commented on #419
@arpitv970 will you be working on it or someone else ?

[2022-10-08 14:56] IAmTamal commented on #419
- Let us  remove the box shadow from club cards and have a very thin border.
- On hover we can have a box shadow

[2022-10-08 14:58] SteveSayantan opened #427 "SECRET key revealed in User.js"
### What would you like to share?

The secret key used to sign JWT has been revealed [here](https://github.com/IAmTamal/Milan/blob/main/server/routes/User.js). It should be moved in .env.

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contr

[2022-10-08 15:08] Rounak-28 commented on #427
Can I work on this?

[2022-10-08 15:08] Chaitanya-087 commented on #427
i would like to work on this issue

[2022-10-08 15:12] Akashbag2001 commented on #425
I want to contribute please assign me this.

[2022-10-08 15:28] arpitv970 commented on #419
- I was thinking of adding something similar to the color scheme already present there, instead of removing the gray shadow as it seems more to be standing-out
- Also using transition property would make it smooth

This is what I am trying to say 🔽

[2022-10-08 15:36] #396 closed

[2022-10-08 15:43] IAmTamal commented on #427
Hmm we need to  Just change the value to `process.env.JWT_SECRET` wherever we are using the SECRET
And also Delete the line which has the secret value.

@SteveSayantan Will you be working, or should i give this to someone else ?

[2022-10-08 15:50] SteveSayantan commented on #427
I would love to!!

[2022-10-08 15:56] nalin-programmer commented on #425
I have fixed this issue, please merge the pull request.
Preview:
![image](https://user-images.githubusercontent.com/54065357/194716359-db009e49-96d6-4641-8250-9971ce08a8f2.png)

[2022-10-08 17:20] IAmTamal opened #431 "🔴 [Automations] - Configure a Github actions for Cypress Test 🛠"
## Test files :

 - The test files are located [here](https://github.com/IAmTamal/Milan/tree/main/cypress/e2e)

## Actions ?

- Write a GitHub action so that whenever a push /PR is made to the GitHub repo the github workflow is triggered
- And all the tests are performmed and checked
- This is a high priority issue !

[2022-10-08 17:38] #420 closed

[2022-10-08 18:48] JulianaSau commented on #431
Hi @IAmTamal I'd like to work on this issue

[2022-10-08 19:01] IAmTamal commented on #431
Go ahead @JulianaSau  !

- Make sure the action works on the fork (like test it out somewhere)
- I tested it previously but got this error :  `The process '/usr/local/bin/npm' failed with exit code 1`
- I made the following `.yml` file which gave the ABOVE ERROR

[code]

[2022-10-08 19:17] JulianaSau commented on #431
Noted. I'll make sure to test it out and ensure it works before making a pr

[2022-10-09 01:29] dev-32 opened #435 "[DOCS] <description>"
### Description

There are some grammar mistakes as well as some improvements in the CONTRIBUTING.md file. This thing can be fixed to make file more interactive and as well as more readable.

### Screenshots

<img width="717" alt="Screenshot 2022-10-09 at 6 57 32 AM" src="https://user-images.githubusercontent.com/99115141/194733278-2646f340-782a-419c-aa1e-4e324112e110.png">

### Additional informa

[2022-10-09 03:44] IAmTamal commented on #418
@yung-coder Go for it !
Make sure it looks good on mobiles 🚀

[2022-10-09 03:44] IAmTamal commented on #413
Hmm - do make a PR with the changes, we can always Close/edit the PR

[2022-10-09 04:01] #404 closed

[2022-10-09 04:15] #405 closed

[2022-10-09 04:31] #427 closed

[2022-10-09 04:36] IAmTamal commented on #435
@dev-32 Here are some more changes i would suggest

- Remove this line : `Each issue needs to be completed within a specific time limit according to its difficulty level ( Easy: 1 day, Medium: 2-3 days and Hard: 4 days ).`
- Change the word **mentee -> contributor** and **mentor-> maintainer/owner** in `If a mentee is unable to solve the allotted issue within the given period, the issue needs to b

[2022-10-09 06:43] belphegor-s opened #438 "[OTHER] Landing Page Background attachment (Minor UI improvment)"
### What would you like to share?

The background image on the landing page can be fixed by creating a parallax effect that will improve the UI and aesthetics.

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I

[2022-10-09 08:37] smrkarkii commented on #422
@IAmTamal , Please assign it to me.

[2022-10-09 08:43] Satakshijain opened #440 "[OTHER]"
### What would you like to share?

I want to change the thumbnail of the website so that it looks good

### Additional information

![Screenshot_2022-10-09-14-11-04-56_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/79740405/194746968-ba8d6365-fb87-4a19-b5d0-418aba201912.jpg)

Want to Change this

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has be

[2022-10-09 10:30] stereogon opened #441 "[OTHER] Landing Page Design Improvements"
### What would you like to share?

1. Different Colors for Landing Page Login Buttons (Club and User)  Club -> Purplish, User -> Bluish
2. Parallax Effect on the Landing Page hero Image with Gradient Overlay.

### Additional information

![image](https://user-images.githubusercontent.com/64136587/194751771-0f1aadda-79f7-4583-9d39-e17fa4dbe409.png)

Not Exactly this, but something like this would l

[2022-10-09 11:44] Volley-Freak opened #442 "Responsive Banner On Home Page"
### Description

The height of banner in mobile view is too large it looks weird on small devices.

### Screenshots

![Screenshot at Oct 09 17-09-27](https://user-images.githubusercontent.com/85556562/194754960-8fea7993-cd64-4bea-a256-37ed35fa3c1e.png)

### Additional information

Height should be reduced on smaller devices.

### 🥦 Browser

Brave

### 👀 Have you checked if this issue has been rais

[2022-10-09 11:51] Volley-Freak commented on #442
Okay assign this to me you need to fix that.

[2022-10-09 13:55] #435 closed

[2022-10-09 13:56] #425 closed

[2022-10-09 14:01] Akashbag2001 commented on #438
I want to contibute

[2022-10-09 14:07] #419 closed

[2022-10-09 14:07] #423 closed

[2022-10-09 14:08] IAmTamal commented on #438
The issue sounds intresting, do make a PR @belphegor-s , we can always make changes to it 🎉

[2022-10-09 14:09] IAmTamal commented on #440
Hello @Satakshijain , that is something we wouldnot change.
That is not thumbnail, rather just a readme banner made by the UI team for Hacktoberfest promotions !

[2022-10-09 14:09] #440 closed

[2022-10-09 14:11] IAmTamal commented on #441
@stereogon The parallax effect issue has been assigned to someone else
**You can make changes to the buttons and make a PR**

After they have made the Parallax effect, and if there's any bug/broken stuffs you can always make another issue !

[2022-10-09 14:14] Akashbag2001 commented on #438
I could not open it on the live server from my local machine. are there any methods? please tell me
Thank you

[2022-10-09 14:14] belphegor-s commented on #438
on it

[2022-10-09 16:07] tanishk-23 commented on #380
@IAmTamal Can you please assign this issue to me?

[2022-10-09 16:55] adi-uchiha commented on #380
@IAmTamal I am bit busy these days. You can assign him

[2022-10-09 17:59] Ayushbajpai19 commented on #372
Hello, can i work on this issue please?

[2022-10-10 03:16] nihshesh opened #446 "Design of a card in the events page is different from others."
### Description

Design for third card or "Hello" event is different and it also contains some random words.

### Screenshots

![image](https://user-images.githubusercontent.com/61341935/194794647-107154e2-d60c-4836-8700-6926fa295262.png)

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn'

[2022-10-10 04:22] #335 closed

[2022-10-10 04:29] IAmTamal commented on #422
Hmm the issue sounds intresting

 - Make a PR once done
 - We'll review and edit changes on the PR !

[2022-10-10 04:31] IAmTamal commented on #446
The cards are dynamic - meaning we are getting the info from DB

- We will make changes to the DB shortly, however changes in the Frontend can be done so that they are of the same length

[2022-10-10 04:35] #406 closed

[2022-10-10 04:35] #438 closed

[2022-10-10 04:36] IAmTamal commented on #442
How do you intend to reduce the height  ?

- I'd prefer the banner to be fullscreen for mobiles !

[2022-10-10 04:37] IAmTamal commented on #380
Go for it !

[2022-10-10 06:15] wickedwisdom0911 opened #447 "Zooming on hovering on the products"
### Description

In the shop section, when we hover over the products we can apply the zooming animation to make it look more interactive.

### Screenshots

![image](https://user-images.githubusercontent.com/78411069/194807473-798074db-2b9a-462b-9025-5a6adb5aa047.png)

### Additional information

The above screenshot attached is what it will look like if we hover over the images.

### 🥦 Browser

G

[2022-10-10 07:26] Tineshnehete opened #449 "Regestration And Login Email Validation"
### Description

Email validation on both login and regestration pages are allowing email input like `user@gmail` where it should be not allow email withoouth tld.

### Screenshots

![image](https://user-images.githubusercontent.com/74779225/194816194-79c88bd6-9470-4770-9c5c-327b8feabad7.png)

### Additional information

We can improve the validation function

### 🥦 Browser

Google Chrome

### 👀 H

[2022-10-10 08:22] tanishk-23 opened #451 "Placeholders missing on user register page"
### Description

Placeholders are added to some fields of user registration form and some placeholders are missing.

### Screenshots

![Issue](https://user-images.githubusercontent.com/72482878/194824254-0650a4e0-c5ac-4065-926f-4023dd1cb3d0.png)

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked an

[2022-10-10 08:24] nalin-programmer commented on #451
Assign me this

[2022-10-10 08:27] harshhh11 commented on #451
Can you please assign me this ?

[2022-10-10 09:09] Dnyanesh-Bachhav commented on #451
Hey can you assign this to me...

[2022-10-10 09:41] Barkty commented on #451
Please can you assign this to me?

[2022-10-10 09:45] Barkty commented on #449
@Tineshnehete, please assign this to me.

I would create a validation check on the inputs' onchange which would validate users inputs before the form details are submitted

[2022-10-10 09:50] Volley-Freak commented on #442
Generally banner size in mobile screen are not full screen. Once visit some professional websites you'll get an idea about the height.
However if you still want it to be full scree that's okay.

[2022-10-10 11:04] smrkarkii commented on #422
Sure.

[2022-10-10 12:24] mo-renike commented on #447
Please assign me to this issue, I am willing to submit a PR!

[2022-10-10 13:32] iharshka commented on #451
Hello there,
Hope you are doing great!
I want to contribute to this project. Can you please assign this issue (@tanishk-23 has opened) to me?

[2022-10-10 13:40] iharshka commented on #442
Hello @IAmTamal,
Hope you are doing great!
I want to contribute to this project. I will do it by flex model. Also if you want I can integrate APIs like Unsplash into it. Can you please assign this issue to me?

[2022-10-10 13:44] iharshka commented on #447
Hello @IAmTamal ,
Hope you are doing great!
I want to contribute to this project. Can you please assign this issue to me?

[2022-10-10 14:12] belphegor-s opened #454 "The Scroll back to top button is not scrolling to the top completely"
### Description

The scroll back to top button is not completely scrolling back to top, it leaves some space on the top.

### Screenshots

![screenshot](https://lh3.googleusercontent.com/fife/AAbDypBJ35UaL-VNKA--AMBFG1MIozk18dUU767tuYcuDpWxRDma0Rqq9N5g3-x-7xfGf47mo2cLh8qF9zMDiJ8-BgWFued2q3EUe59BkMkGDY2pSEEYo_DFAbQYO2q19Wxen6oVK27XUMTGCrbYRSEdoBYGqWYDCyOB1hw3Xxut64ZuY2Qz1FqSbO0MY-44ZQ1AYUFFMYdmoeCe

[2022-10-10 15:20] IAmTamal commented on #454
Go for it
Make sure it works both for mobile and desktop

[2022-10-10 15:22] IAmTamal commented on #447
@wickedwisdom0911 - Don't zoom in, instead have a box shadow that appears on all the 4-side on hover

we can have `#297f75` color and a pointer cursor !

[2022-10-10 15:28] wickedwisdom0911 commented on #447
Sure would get on it.  Once I am done, I will attach some demo Screenshots
to see does it match what you are looking for. You can assign me. Thanks.

On Mon, Oct 10, 2022, 8:53 PM Tamal Das ***@***.***> wrote:

[2022-10-10 15:29] IAmTamal commented on #449
@Tineshnehete Go for it
Make sure it works the way you intended !

[2022-10-10 15:32] #418 closed

[2022-10-10 15:37] iharshka commented on #442
Yes I am willing to work on it. Please assign it to me.

[2022-10-10 15:37] IAmTamal commented on #442
Since this is not so professional website, i'd prefer the way it is.
Closing the issue, since i don't think we will be reducing the size !

[2022-10-10 15:37] #442 closed

[2022-10-10 15:39] IAmTamal commented on #442
@iharshka
I think you DIDNOT UNDERSTAND what i said.

If someone else has opted in for a issue, don't go their and ask such questions like `Can you please assign this issue to me?`
I cannot simply snatch their issue, and assign you.

The person who made the issue OPTED IN TO WORK !
![image](https://user-images.githubusercontent.com/72851613/194904204-8c4c9193-fe12-4b6b-ba79-8469edb3dfce.png)

[2022-10-10 15:42] smrkarkii commented on #422
Thanks

[2022-10-10 15:45] iharshka commented on #442
Ohh sry!
Didn't mean that!
Misunderstood the messages!

[2022-10-10 15:55] IAmTamal opened #456 "Frontend - UI Changes for Landing, Auth Pages 🛠"
# Change 1
![image](https://user-images.githubusercontent.com/72851613/194905733-cd299263-a162-46ca-930a-46b45ca0367e.png)

**Take a look at the width of the input boxes on the right, i want the same width for the input box, headings on the left for [User Register Page](https://milaan.vercel.app/user/register)**

# Change 2
![image](https://user-images.githubusercontent.com/72851613/194906210-ebea

[2022-10-10 16:00] tanishk-23 commented on #456
@IAmTamal Can you please assign this issue to me?

[2022-10-10 16:10] JulianaSau opened #458 "[Automations]: Linter using husky pre-commit/pre-push"
### What would you like to share?

Currently eslint is set up but the linting is not automated.
I'd like to make use of `husky` and `lint-staged` to create a `pre-commit` or `pre-push` hooks to run linter and fix auto-fixable issues before a PR can be created

### Additional information

_No response_

### 🥦 Browser

Microsoft Edge

### 👀 Have you checked if this issue has been raised before?

- [

[2022-10-10 17:00] #451 closed

[2022-10-10 17:01] IAmTamal commented on #456
Sure, make sure you do all the 3 changes as i have said above.
Make sure it is done withing 3 days !

[2022-10-10 20:15] iceddrop opened #460 "On the sign up page, users should know why the button is not active after they input their data."
### Description

The number of characters a user might want to use as password can not be predicted and so might be less than 5(what it takes to get the 'register' button active). Telling them what is wrong will improve user experience ''**password should be more than 4 characters**". I will like to work on this.

### Screenshots

![image_2022-10-10_210631728](https://user-images.githubusercontent

[2022-10-11 03:25] HeisRoy33 opened #461 "Create a dashboard"
### Description

Create a dashboard to showcase events registered, amount paid,

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read the [Contributing Guidelines](https:/

[2022-10-11 05:13] #431 closed

[2022-10-11 06:13] #454 closed

[2022-10-11 07:04] belphegor-s opened #464 "Active state CSS for Shop is not working in the Navbar Links followed by the display routes"
### Description

The `Shop` Navbar link active state CSS is not working, for other nav links there's a small line that shows whether the link is active or not, but for the `Shop` Navlink, it's not working.

You can see in the screenshots attached here.

### Screenshots

![screenshot](https://lh3.googleusercontent.com/fife/AAbDypDZUKB1eFXtuYRBdQcwCrNql8pwxGc2j8NnTHtvYfKkuNZqDI8TMDghTFxVZMC6yEICV3mg

[2022-10-11 09:12] stereogon opened #466 "[OTHER] Landing Page Improvements"
### What would you like to share?

1. Adding the Milan Logo at the Landing page for both mobile view and large screen view.

![image](https://user-images.githubusercontent.com/64136587/195045825-3e4f8ec3-28de-4ff2-853d-ecc11435f77d.png)

2.  Fixing the Media Query trigger point for better Transitions.

![image](https://user-images.githubusercontent.com/64136587/195046386-10732a4a-38a4-4543-a510-ed

[2022-10-11 10:54] IAmTamal commented on #460
A good spot - go for it !

[2022-10-11 11:58] HKAgrwl commented on #456
@IAmTamal  please assign to me if still not resolved.

[2022-10-11 12:00] tanishk-23 commented on #456
@IAmTamal @HKAgrwl It's almost done I'm about to make a PR.

[2022-10-11 12:02] HKAgrwl commented on #456
cool

[2022-10-11 12:53] #413 closed

[2022-10-11 15:25] IAmTamal commented on #464
Go for it @belphegor-s

[2022-10-11 17:50] tanishk-23 commented on #456
@IAmTamal I have implemented the suggested changes. Please review the screenshots and let me know about further improvement or making PR.

Change 1

![Photo1](https://user-images.githubusercontent.com/72482878/195162767-24c250fd-cd4d-46b0-9f01-b9aa9e0d7916.JPG)

Change 2

![Change21](https://user-images.githubusercontent.com/72482878/195162860-f9b03461-7809-40c3-8dff-d617f804cf65.JPG)
![Change22](

[2022-10-11 21:16] Anuragwagh opened #472 "Club cards are above footer"
### Description

There was a small issue: on the club page, the cards were above the footer, and there was no space between the footer and cards; they were overlapping.

**I had fixed that issue**

### Screenshots

![Screenshot 2022-10-12 014330](https://user-images.githubusercontent.com/56196363/195198595-b1db64cd-c0ae-440a-81c7-79bcf42651eb.png)

I had Fixed it.

![Screenshot 2022-10-12 022424](

[2022-10-11 21:16] iceddrop opened #473 "Resolving Bug : Password error messages"
### Description

I raised an issue earlier concerning user experience(password error message). The code I wrote would display an error message if the number of password characters is less than five, but even when the characters were more than five, the message was still on display. Please assign me this as I have already corrected my code. Thank you.

### Screenshots

_No response_

### Additional

[2022-10-12 02:22] billy-le commented on #472
Can I work on this?

[2022-10-12 04:18] belphegor-s commented on #464
On it

[2022-10-12 04:40] Anuragwagh commented on #472
I had fixed that issue.

[2022-10-12 09:48] #464 closed

[2022-10-12 09:59] #458 closed

[2022-10-12 10:03] IAmTamal commented on #466
Hello @stereogon  feel free to work on Point 2 and 3.
The rest of the points needs not to be added.

[2022-10-12 10:09] IAmTamal commented on #473
Please close/ work on the existing PR first !

[2022-10-12 10:15] IAmTamal commented on #472
@Anuragwagh - from next time please provide a valid title for the issue. Instead of just `Firxed the issue`
You can make a PR !

[2022-10-12 10:31] iceddrop commented on #473
Hi, I just made the necessary corrections and closed the previous pull request.

[2022-10-12 14:02] belphegor-s opened #478 "The scroll back to top button shows up even if we are at the top of the Landing Page"
### Description

When we visit the landing Page for the first time the scroll back to top button works perfectly (i.e. it's not visible if we are at the top of the page), when we scroll down and click on that button it works perfect but *ideally* the button should not be visible if we are already at the top of the Page.

### Screenshots

![screenshot](https://lh3.googleusercontent.com/fife/AAbDypB

[2022-10-12 15:14] IAmTamal commented on #473
Sure , go ahead - make sure you test out everything !

[2022-10-12 15:23] #449 closed

[2022-10-12 19:45] iceddrop commented on #460
Hi my merge was successful, it's working perfectly now.  I noticed some changes in the codebase though.

[2022-10-13 05:48] #380 closed

[2022-10-13 05:57] IAmTamal commented on #460
Which merge are you talking about ?

[2022-10-13 08:42] iceddrop commented on #460
![Screenshot_20221013-094109_Chrome](https://user-images.githubusercontent.com/93996532/195547540-9d4aaef9-60aa-4eac-be06-61e109a65300.jpg)
That one , I thought it had already merged automatically.  Thank you for allowing me to contribute,  I enjoyed it.

[2022-10-13 08:53] SteveSayantan opened #483 "Multiple "Logging You In" pop-ups if Log In button is clicked more than once"
### Description

After providing the credentials, if the user clicks multiple times on 'Log In'  button, it generates a bunch of 'Logging You In' pop-ups.

### Screenshots

![Screenshot_20221013-140202](https://user-images.githubusercontent.com/92118155/195548558-2bc50ba9-aa96-450e-b216-d0feff9d7900.jpg)

### Additional information

### Possible Solution

After clicking on the 'Log In' button once

[2022-10-13 09:38] #460 closed

[2022-10-13 10:55] curator69 commented on #483
i am ready to work on this issue @IAmTamal

[2022-10-13 14:35] ShravaniAK opened #484 "card is overflowing"
### Description

the card is overflowing

### Screenshots

![Uploading Screenshot 2022-10-13 at 8.03.39 PM.png…]()

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read the [Contributing Guidelines](http

[2022-10-13 14:36] ShravaniAK opened #485 "[FEATURE] <description>"
### Description

add hover effect to the products

### Screenshots

<img width="1440" alt="Screenshot 2022-10-13 at 8 03 57 PM" src="https://user-images.githubusercontent.com/97099574/195626630-08a91b5a-d46e-423b-9331-aeb344cd9234.png">

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't

[2022-10-13 14:37] flying-solo commented on #484
@ShravaniAK  can i work on this issue ?

[2022-10-13 15:49] belphegor-s commented on #478
Thanks for the help was able to do this while maintaining the Animation as well. @IAmTamal I had corrected this behavior although I'm not assigned yet, so should I make a PR or do it once someone assigns me??

[2022-10-13 17:57] IAmTamal commented on #483
Thankyou for raising the issue @SteveSayantan - this is definetly a problem.
@curator69 go for it !

- Make sure you implement functionality for both Users and Clubs login
- Do make a PR once done, we can always review it !

[2022-10-13 17:58] curator69 commented on #483
starting working on it as writing this message

[2022-10-13 18:02] IAmTamal commented on #485
@ShravaniAK
- **This issue is already been worked out by someone else at #447**
- Please always check before making a new issue
- Please always give proper issue title instead of  `[FEATURE] <description>`

[2022-10-13 18:02] #485 closed

[2022-10-13 18:03] IAmTamal commented on #484
@ShravaniAK
- Please provide proper screenshot
- Please provide a proper description instead of just `the card is overflowing`

[2022-10-13 18:04] IAmTamal commented on #478
@belphegor-s
- Sorry totally forgot about  assigning the issue
- Yes do make a PR we can review it !

[2022-10-14 16:02] #446 closed

[2022-10-14 17:04] pragatisaikia opened #490 "Misplaced vector images,"
### Description

On the home page, the second div has 2 image vectors along with written content which is not aligned.

### Screenshots

![vector-images](https://user-images.githubusercontent.com/92122197/195902418-43e6d028-bbac-4e10-bd04-5a5c37a03521.PNG)

### Additional information

_No response_

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I

[2022-10-15 04:58] #478 closed

[2022-10-15 05:18] Dheeraj0014 commented on #490
I can do that .
!assign

[2022-10-15 15:27] #447 closed

[2022-10-15 19:47] yung-coder commented on #372
Hey @IAmTamal  i would like to work on this issue if  possible...?

[2022-10-16 05:52] exotic123567 opened #491 "Login Button adding a border of black colour on hover"
### Description

When the cursor hovers over the login button of the website, add a black (dark colour) colour border around it so that the user can know that they are about to click abutton.

### Screenshots

![Milan Login Button](https://user-images.githubusercontent.com/86504733/196020374-c5c1f707-2f66-434b-ac5f-5c5181701d6e.jpg)

### Additional information

_No response_

### 🥦 Browser

Other

[2022-10-16 07:09] kirtanchandak commented on #491
can I work on this issue ?

[2022-10-16 08:03] yung-coder opened #492 "Sumbit button lacks responsiveness"
### Description

When we click on report button on footer for any bug it lacks   responsiveness in mobile devices

### Screenshots

![milan-new](https://user-images.githubusercontent.com/94097778/196024971-9509f39a-fc46-4a8b-b49f-9fbc371dd3c7.png)

### Additional information

It should be responsive in every  device
i would like to work on this !

### 🥦 Browser

Mozilla Firefox

### 👀 Have you che

[2022-10-16 11:06] sumit-022 commented on #491
I can work on this. Please assign me this issue

[2022-10-16 13:34] SteveSayantan commented on #492
## Hints for Solving This 🦄:
- Setup your clone repo as per the [Setup Guidelines](https://github.com/IAmTamal/Milan/blob/5da6529674eea313910d8c647273223eccf37810/rules/FrontendSetup.md)
- Navigate to this [file](https://github.com/IAmTamal/Milan/blob/5da6529674eea313910d8c647273223eccf37810/src/styles/Footer.css)
- Inside the `.btn-hover` class, you have to remove two properties (Figure it out by

[2022-10-16 17:24] SteveSayantan commented on #492
I would request the maintainer to label this issue as a Good-First one!!

[2022-10-16 18:03] shashank-2310 commented on #491
Please assign this issue to me.

[2022-10-16 18:05] shashank-2310 commented on #492
Please assign me this issue.

[2022-10-16 18:53] NnajiChimuanya commented on #461
Is there a dashboard please assign me?

[2022-10-16 19:30] SteveSayantan opened #493 "Improper handling of the Promise returned by mongoose save() method"
### Description

In [User.js](https://github.com/IAmTamal/Milan/blob/5da6529674eea313910d8c647273223eccf37810/server/routes/User.js) , the promise retuned by the mongoose save() method is not taken care of at all.

Therefore, even if the promise gets rejected, the catch block is unable to notice it and the execution does not stop.

The same problem is there in [Clubs.js](https://github.com/IAmTama

[2022-10-16 20:33] SteveSayantan opened #494 "The links to the Guideline Files do not work properly"
### Description

The links in the `Guidelines to be followed` section in [README.md](../blob/main/README.md) do not navigate to the proper files.

### Screenshots

_No response_

### Additional information

This can be a good beginners-friendly issue.

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Ha

[2022-10-16 20:48] LeGrandMAG commented on #494
@SteveSayantan , I would like to work on this issue, would you mind assigning it to me ?

[2022-10-16 20:54] SteveSayantan opened #495 "No mention of the jwt secret key in BackendSetup.md"
### Description

A `JWT_SECRET` key has to be set up in the .env file while running the server locally. But it is not mentioned [here](../blob/main/rules/BackendSetup.md) .

### Screenshots
_No response_

### Additional information

This can be a good Beginners-Friendly issue.

### 🥦 Browser

Google Chrome

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't fi

[2022-10-17 04:15] SteveSayantan commented on #494
I am not authorized to do that 😥

[2022-10-17 16:17] amit-ksh commented on #495
Can I work on this issue?

[2022-10-18 07:16] IAmTamal commented on #495
@amit-ksh go for it !

[2022-10-18 07:17] IAmTamal commented on #494
@LeGrandMAG Go for it , make sure all the links are working fine !

[2022-10-18 07:57] IAmTamal commented on #490
The design is like that, we donot want it to get aligned  !

[2022-10-18 07:57] #490 closed

[2022-10-18 07:58] #372 closed

[2022-10-18 08:20] IAmTamal commented on #491
@exotic123567 Can you make something like this for all the register and Login buttons :

https://user-images.githubusercontent.com/72851613/196376112-892e0ece-25ab-4a1b-ab53-44e575177e16.mp4

[2022-10-18 08:23] IAmTamal commented on #493
Awesome spot @SteveSayantan , thanks for making the project's backend better. You can work on the issue !

[2022-10-18 08:35] exotic123567 commented on #491
Yes. I just have to add this to the css file when the cursor is hovering over the buttons